@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "FS Joey";
    src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.ttf) format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "FS Joey";
    src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.ttf) format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

$Fuente1: "FS Joey",
sans-serif;
$Fuente2: "Barlow",
sans-serif;

$color-primario: #0033a0;
$color-secundario: #00aec7;
$color-claro: #fff;
$color-claro-secundario: #edf0f1;
$color-claro-terciario: #f6f7fa;
$color-text: #53565a;
$color-destacado: #e3e829;
$color-bloque-texto: #E5F7FA;
$color-fondo-gris: #E5E5E5;



$border-red: solid 2px red;
$border-yellow: solid 2px yellow;
$border-green: solid 2px green;
$border-rose: solid 2px rgb(255, 17, 191);





.nuevo-wrap {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding: 0;
    position: relative;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 1230px;
        position: relative;
        margin-left: auto;
        margin-right: auto;




    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        // width: 100%;
        // height: 400px;
        // max-width: 1200px;
        position: relative;
        margin: 0 auto;
        // margin-top: 2rem;
        // background-color: $color-primario;
        background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/banner-seguro-pymes.png?sfvrsn=1a96b66c_3);
        background-repeat: no-repeat;
        background-size: cover;
        // background-attachment: fixed;
        // background-position: top center
        background-position-x: 80%;
        background-position-y: center;
        // padding: 50px;
        // border: $border-red;

    }

    .container-fluid-gray {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        width: 100%;
        height: auto;
        // max-width: 1200px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 2rem;
        background-color: $color-fondo-gris;
        // padding: 50px;
        // border: $border-red;

    }

    // .container-fluid::before {
    //     content: "";
    //     position: absolute;
    //     background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-accesos-sv/circles.svg?sfvrsn=ad56c_3);
    //     background-repeat: no-repeat;
    //     width: 100px;
    //     height: 120px;
    //     top: 19vh;
    //     left: 2%;
    // }

    // .container-fluid::after {
    //     content: "";
    //     position: absolute;
    //     background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-accesos-sv/circles.svg?sfvrsn=ad56c_3);
    //     background-repeat: no-repeat;
    //     width: 100px;
    //     height: 120px;
    //     top: 19vh;
    //     right: 2%;
    // }

    .separador {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 42px;
        height: 1px;
        border: solid 2px $color-secundario;
        background-color: $color-secundario;
        border-radius: 10px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // min-width: 320px;
        width: 100%;
        height: 400px;
        // background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/banner-seguro-pymes.png?sfvrsn=1a96b66c_3);
        // background-repeat: no-repeat;
        // background-size: cover;
        // // background-attachment: fixed;
        // background-position-x: 80%;
        // background-position-y: center;



        // border: $border-red;
        .hero-logo {
            display: flex;
            // justify-content: flex-end;
            margin: 2rem;
            position: relative;
            width: 70%;
            max-width: 343px;
        }

        .hero-text {
            display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            position: relative;
            width: 90%;
            margin: 0 1rem;

        }


        .hero-img {
            display: none;
            width: 20%;
            min-width: 150px;
            height: auto;
            align-items: flex-end;
            // margin: 2rem;
            // justify-content: center;
            // overflow: hidden;
            position: relative;


            img {
                width: 100%;
                // position: sticky;
                // min-height: 400px;
            }
        }

        // .hero-text::before {
        //     content: " ";
        //     width: 42px;
        //     height: 1px;
        //     border: solid 2px $color-secundario;
        //     background-color: $color-secundario;
        //     border-radius: 10px;
        //     position: absolute;
        //     // margin-left: 20px;
        //     // margin-top: 20px;
        //     // left: 20px
        // }


    }

    .container-grid {
        // border: $border-green;
        width: 100%;
        margin: auto;
        margin-top: -50vh;
        // aca
        margin-bottom: 6rem;
        display: grid;
        // grid-template-columns: repeat(auto-fit, 300px);
        grid-template-columns: repeat(auto-fit, 380px);
        // grid-template-rows: repeat(2, 500px);
        grid-auto-rows: auto;
        gap: 30px;
        justify-content: center;

    }

    .item-grid {
        box-shadow: 0px 18px 43px rgba(0, 37, 70, 0.159856);
        background-color: #fff;
        position: relative;
        // aca
        height: 495px;
        // padding: 20px;
        // padding-bottom: 10px;
        // border: $border-green;

        .item-image {
            display: flex;
            // width: 100%;
            // max-width: 300px;
            max-height: 255px;
            overflow: hidden;
            justify-content: flex-end;
            position: relative;

            img {
                // max-width: 400px;
                width: 110%;
                // height: 110%;

            }
        }

        .item-image-logo {
            position: absolute;
            top: 2rem;
            left: 1rem;

            max-width: 146px;
        }

        .item-text-img {
            position: absolute;
            // top: 2rem;
            left: 0;
            padding: 7px;
            width: 155px;
            height: 30px;
            text-align: center;
            background-color: $color-secundario;
            border-bottom-right-radius: 50px;

            .text-img {
                font: normal 700 16px/16px $Fuente1;
                color: $color-claro;
            }
        }

        .item-title {
            padding: 15px 20px;
            width: 100%;
            height: 54%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            // border: $border-green;
        }
    }

    .item-grid:nth-child(5) {
        .item-text-img {
            background-color: $color-primario;
        }
    }


    .titulo-h2 {
        font: normal 700 60px/60px $Fuente1;
        color: $color-primario;
        margin: 0px 0px;
    }

    .titulo-h3 {
        font: normal 700 42px/46.2px $Fuente1;
        color: $color-primario;
        margin: 20px 0px 20px 0;
    }

    .titulo-h4 {
        font: normal 700 36px/39.6px $Fuente1 !important;
        color: $color-primario;
        margin: 20px 20px;
    }

    .titulo-h5 {
        font: normal 700 22px/26.4px $Fuente2 !important;
        color: $color-primario;
        margin-bottom: 25px;
    }

    .p-card {
        font: normal 400 18px/26px $Fuente2;
        color: $color-text;
        margin-bottom: 25px;
    }

    .p-big-white {
        font: normal 500 24px/28.8px $Fuente2 !important;
        color: $color-claro;
        margin-bottom: 25px;
    }

    .btn {
        display: block;
        width: 100%;
        height: 48px;
        margin: auto;
        padding: 14px 32px;
        border-radius: 40px;
        border: 2px solid transparent;
        font: normal 700 16px/16px $Fuente2;
        line-height: 16px;
        letter-spacing: 1.08px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        cursor: pointer;

        &.br-primario {
            border: 2px solid $color-primario;
            color: $color-primario;
            text-decoration: none;
            transition: all 0.3s ease;
            margin: 25px auto;
            max-width: 200px;

            &:hover {
                background: rgba($color-primario, 0.15);
                text-decoration: none;
                transition: all 0.3s ease;
                cursor: pointer;
            }
        }

        &.btn-yellow {
            background: $color-destacado;
            color: $color-primario;

            &:hover {
                background: $color-primario;
                color: $color-claro;
            }
        }

        &.btn-xs {
            max-width: 146px;
        }
    }



}


// Opciones

.pyme-opciones__list li,
.pyme-opciones__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.pyme-opciones {
    width: 100%;
    height: auto;
    background-color: #ecf0f1;
}

.pyme-opciones .container {
    max-width: 1199px;
}

.pyme-opciones__list {
    width: 100%;
    padding: 1.2rem 0 !important;
}

.pyme-opciones__list li {
    font: normal 400 16px/1.2 "Barlow", sans-serif;
    color: #53565a;
    margin: 0;
    text-align: center;
    padding: 0 1rem;
    position: relative;
}

.pyme-opciones__list li:after {
    content: "";
    position: absolute;
    height: 48px;
    outline: 1px solid #00aec7;
    right: -1px;
}

.pyme-opciones__list li:last-child:after {
    content: none;
}

@media (max-width: 768px) {
    .pyme-opciones__list {
        align-items: flex-start;
    }

    .pyme-opciones__list li {
        font-size: 14px;
        line-height: 1.2;
    }
}

@media (max-width: 575px) {
    .pyme-opciones {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .pyme-opciones::-webkit-scrollbar {
        display: none;
    }

    .pyme-opciones__list {
        align-items: flex-start;
        width: 768px;
        overflow-x: scroll;
    }

    .pyme-opciones__list li {
        font-size: 14px;
        line-height: 1.2;
        padding: 0 2rem;
    }
}



// media queris

// @media (max-width: 1050px) {
//     .hero {
//         // background-position: -100px center;
//     }
// }


@media (max-width: 950px) {
    .nuevo-wrap {
        margin-top: 104px;
    }

    .container-fluid {
        background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/banner-dmobile-seguro-pymes.jpg?sfvrsn=8b5b36c_3) !important;
        background-position: right;

    }

    .hero {
        // margin-top: 6rem;
        // flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: center !important;

        // background-position: -150px center !important;
        // border: $border-green !important;
        .hero-logo {
            width: 100%;
            justify-content: center;

            // border: $border-red;
            img {
                width: 100%;
            }
        }

        .hero-cont {
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: 100%;

            .hero-text {
                margin: 0 !important;
                width: 50%;
                display: flex;
                // flex-direction: column;
                justify-content: flex-end;
                text-align: right;

                // flex-direction: row !important;
                // width: 100%;
                // justify-content: space-evenly;
                // border: $border-red;
                // align-content: center;
                // align-items: center;
                // width: 100% !important;
                // margin: 1rem !important;
                .p-big-white {
                    font: normal 500 22px/24.8px $Fuente2 !important;
                }
            }

            .hero-img {
                display: flex !important;
                margin-right: 20px;
                margin-left: 20px;

                // justify-content: flex-start !important;
                // align-items: flex-end !important;
                // margin: 1rem;
                // border: $border-red;
                img {
                    width: 80%;
                }
            }
        }


    }

    .titulo-h2 {
        font: normal 700 52px/46px $Fuente1;
        margin: 10px 10px;
        text-align: center;
    }

    .titulo-h3 {
        font: normal 400 34px/38.2px $Fuente1;
        margin: 10px;
    }
}



// ******** Section seguro Pyme **************

.wrap-seguro {
    display: flex;
    justify-content: space-between;
    // border: $border-red;
    position: relative;
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    height: auto;

    .texto-seguro {
        display: flex;
        flex-direction: column;
        position: relative;
        // z-index: 1;
        // border: $border-green;
        width: 50%;
        // padding: 20px;
        margin-right: 40px;

        p {
            z-index: 2;
            position: relative;
        }

        h3::before {
            content: " ";
            width: 42px;
            height: 1px;
            border: solid 2px $color-secundario;
            background-color: $color-secundario;
            border-radius: 10px;
            position: absolute;
            top: 0;
        }
    }

    .img-seguro {
        display: flex;
        justify-content: center;
        position: relative;
        width: 50%;
        height: auto;
        z-index: 1;

        img {
            width: 100%;
            max-height: 400px;
        }
    }

    .img-seguro::after {
        content: " ";
        background-color: $color-claro-secundario;
        width: 930px;
        height: 380px;
        position: absolute;
        // right: -5rem;
        bottom: -2rem;
        left: 4rem;
        z-index: -1;
    }

}

.wrap-seguro::before {
    content: "";
    position: absolute;
    background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/ciclesx4.svg?sfvrsn=7ee4826c_3);
    background-repeat: no-repeat;
    width: 130px;
    height: 120px;
    // top: 19vh;
    left: -12%;
    opacity: 0.4;
}

@media (max-width: 950px) {
    .wrap-seguro {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 40px;

        .texto-seguro {
            width: 90%;
            margin: 0;
        }

        .img-seguro {
            width: auto;
            height: auto;
        }
    }

    .wrap-seguro::before {
        left: -6rem;
    }
}

@media (max-width: 578px) {
    .img-seguro::after {
        display: none;
    }

    .titulo-h3 {
        font: normal 700 34px/ 38.2px $Fuente1 !important;
    }

    .p-card {
        font: normal 400 15px/24px $Fuente2 !important;
    }
}


// ******** Section Detalle seguro Pyme **************
.detalle-slider-item__desc,
.detalle-slider-item,
.detalle-slider,
.detalle-link,
.detalle-nav-list__item a.active,
.detalle-nav-list__item a,
.detalle-nav-list,
.coberturas-card__img,
.coberturas-card,
.coberturas-box-slider,
.nocubre-box,
.rrss,
.title-tabla-todas-coberturas a.desplegar-todas-coberturas,
.detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.detalle {
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto 2rem;
    background-color: #ecf0f1;
    margin-bottom: 3rem;
    padding: 3rem 0;
    position: relative;
}

.detalle::before {
    content: "";
    position: absolute;
    background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
    background-size: 100%;
    width: 80px;
    height: 96px;
    left: 13%;
    top: 10px;
    opacity: 0.6;
}

.detalle::after {
    content: "";
    position: absolute;
    background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
    background-size: 100%;
    width: 80px;
    height: 96px;
    right: 13%;
    top: 10px;
    opacity: 0.6;
}

@media (max-width: 575px) {

    .detalle::before,
    .detalle::after {
        width: 70px;
        height: 70px;
        top: 10px;
        opacity: 0.6;
        // background-size: 70px;
    }

    .detalle::after {
        right: 5px;
    }

    .detalle:before {
        left: 5px;
    }
}



.detalle h2 {
    font-family: "FS Joey", serif;
    font-weight: 700;
    font-size: 36px !important;
    text-align: center;
    color: #0033a0;
    margin: 0;
    position: relative;
}

.detalle-nav {
    width: 100%;
    margin: 2rem auto 0;
    max-width: 1199px;
    -webkit-box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
    box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);

    ul {
        list-style: none;
    }

}

.detalle-nav-list__item a {
    color: #53565a;
}

.detalle-nav-list__item a.active {
    color: #0033a0;
}

.detalle-nav-list {
    width: 100%;
    padding: 0;
    position: relative;
}

.detalle-nav-list__item {
    width: 100%;
    line-height: 5rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.detalle-nav-list__item a {
    color: #53565a;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.detalle-nav-list__item a img {
    width: 32px;
    margin-right: 0.5rem;
    filter: grayscale(1);
}

.detalle-nav-list__item a:after {
    content: "";
    position: absolute;
    height: 74px;
    right: -1px;
    border-left: 3px solid #dedede;
    border-radius: 50%;
    z-index: -1;
}

.detalle-nav-list__item a.active {
    background-color: #fff;
    color: #0033a0;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    border-radius: 3px 3px 0 0;
}

.detalle-nav-list__item a.active img {
    filter: none;
}

.detalle-nav-list__item a.active:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 80%;
    bottom: 0;
    background: #00aec7;
    transition: all 0.2s ease-in-out;
}

.detalle section {
    width: 100%;
    background: #fff;
    max-width: 1199px;
    margin-top: -3px;
    padding-bottom: 1rem;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
    box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
}

@media screen and (max-width: 575px) {
    .detalle h2 {
        font-size: 36px !important;
        line-height: 1;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1199px) {
    .detalle {
        padding: 3rem 15px;
    }

    .detalle .detalle-nav-list__item a {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .detalle .detalle-nav-list__item a {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {

    .detalle .detalle-nav-list__item a.active,
    .detalle .detalle-nav-list__item a {
        flex-direction: column;
        font-size: 18px;
        width: 100%;
        height: 100px;
    }
}

@media screen and (max-width: 850px) {
    .detalle {
        padding: 3rem 15px 1rem;
    }

    .detalle .detalle-nav-list__item {
        line-height: 1;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .detalle .detalle-nav-list__item a img {
        margin: 0 auto;
        padding: 1rem 0;
        max-height: 65px;
    }
}

@media screen and (max-width: 575px) {
    .detalle .detalle-nav-list__item {
        line-height: 1rem;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .detalle {
        padding: 3rem 15px 1rem;
    }

    .detalle .detalle-nav-list__item {
        line-height: 1;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .detalle .detalle-nav-list__item a img {
        margin: 0 auto;
        padding: 1rem 0;
        max-height: 65px;
    }
}

@media screen and (max-width: 575px) {
    .detalle .detalle-nav-list__item {
        line-height: 1rem;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .detalle .detalle-nav-list__item a.active,
    .detalle .detalle-nav-list__item a {
        flex-direction: column;
        font-size: 14px;
        width: 100%;
        height: 80px;
        padding: 10px 3px;
        // justify-content: flex-start;
    }

    .detalle .detalle-nav-list__item a.active:before,
    .detalle .detalle-nav-list__item a:before {
        height: 2px;
    }

    .detalle .detalle-nav-list__item a.active:after,
    .detalle .detalle-nav-list__item a:after {
        height: 60px;
    }

    .detalle .detalle-nav-list__item a img {
        margin: 0 auto;
        padding: 0 0 5px;
        max-height: 30px;
    }
}

@media screen and (max-width: 375px) {
    .detalle .detalle-nav-list__item {
        height: 75px;
    }

    .detalle .detalle-nav-list__item a.active,
    .detalle .detalle-nav-list__item a {
        flex-direction: column;
        font-size: 13px;
        width: 100%;
        height: 75px;
        padding: 10px 3px;
        // justify-content: flex-start;
    }

    .detalle .detalle-nav-list__item a.active:after,
    .detalle .detalle-nav-list__item a:after {
        height: 60px;
    }
}

.detalle section {
    width: 100%;
    background: #fff;
    max-width: 1199px;
    margin-top: -3px;
    padding-bottom: 1rem;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
    box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
}

@media screen and (max-width: 575px) {
    .detalle section {
        padding-bottom: 0;
    }
}

.detalle section>div {
    width: 100%;
    margin: 0 auto;
    display: none;
    padding-bottom: 1rem;
}

@media screen and (max-width: 575px) {
    .detalle section>div {
        padding-bottom: 2.2rem;
    }
}

.detalle section>div.active {
    display: block;
}

.detalle div.content h2 {
    margin: 10px 0 40px 20%;
}

@media screen and (max-width: 575px) {
    .detalle h2 {
        font-size: 36px !important;
        line-height: 1;
        margin-top: 1rem;
    }
}

.contenedor-bloques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto 0;
    max-width: 1199px;
    background-color: $color-claro;
    padding: 50px;
    position: relative;

    .bloque {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        // position: absolute;
        width: 90%;
        max-width: 1100px;
        top: 2rem;
        // right: 2rem;
        left: 2rem;
        transition: all .5s ease;

        @media screen and (max-width: 575px) {
            left: 1rem;
        }

    }

    .bloque2 {
        margin-top: -10vh;
        border: $border-red;
    }

    .active {
        opacity: 1;
    }

}

.bloque-cobertura {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    border: $border-green;
    position: relative;
    // background-color: #00aec7;




}

.coberturas-box {
    // border: $border-red;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font: normal 700 28px/30.8px $Fuente1;
        color: $color-primario;
        margin: 1rem;
        text-align: center;
    }

    h4 {
        font: normal 700 22px/26.4px $Fuente1;
        color: $color-primario;
        margin: 1rem;
        text-align: center;

        i {
            font: normal 700 22px/26.4px $Fuente1;
            color: $color-secundario;
        }
    }

    p {
        font: normal 400 18px/28px $Fuente2 !important;
        color: $color-text;
        margin: 2rem;
    }
}

.coberturas-box-slider {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    // border: $border-rose;
}

.coberturas-box-slider-item {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 100%;
    margin: 1rem auto;
    border-radius: 8px;
    background-color: #fff;
    // border: $border-yellow;
}

.coberturas-card {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    height: 100%;
    // padding: 0 2rem;
    // border: $border-green;

    b {
        font: normal 400 18px/22px $Fuente2 !important;
        color: $color-primario;
    }

}

.asistencia-card {
    max-width: 320px;
}

.coberturas-imagenes {
    display: flex;
    width: 100%;
}

.coberturas-card__img {
    width: 40%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    // border: $border-red;
}

.coberturas-card__img:nth-child(2) {
    width: 20%;
}

.coberturas-card__img img {
    width: 100%;
    max-width: 120px;
    margin: 0 auto 1rem;
}

.coberturas-card h4 {
    font: normal 700 18px/1.3 "Barlow", sans-serif;
    color: #0033a0;
    text-align: center;
    margin: 0;
}

.coberturas-card span {
    width: 40px;
    border: 2px solid #00aec7;
    border-radius: 8px;
    margin: 16px auto;
}

.coberturas-card p {
    font: normal 400 16px/1.3 "Barlow", sans-serif !important;
    color: #53565a;
    text-align: center;
    margin: 0 0 1rem !important;
    padding: 0 !important;
}

@media (max-width: 768px) {
    .coberturas-card__img img {
        max-width: 100px;
    }
}

.todas-coberturas {
    width: 100%;
    max-width: 1099px;
    padding: 0 2rem;
    box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
    border-radius: 0.5rem;
    margin: 0 auto 1rem;
}

.todas-coberturas-coberturas {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.title-tabla-todas-coberturas {
    padding: 1rem 0;
}

.title-tabla-todas-coberturas a.desplegar-todas-coberturas {
    justify-content: space-between;
    cursor: pointer;
    font: normal 700 22px/1.3 "Barlow", sans-serif !important;
    color: $color-primario;
}

@media (max-width: 768px) {
    .title-tabla-todas-coberturas a.desplegar-todas-coberturas {
        font-size: 18px !important;
    }
}

.title-tabla-todas-coberturas a.desplegar-todas-coberturas .arrow-todas-coberturas {
    content: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/path.svg?sfvrsn=d42d946c_3);
    width: 16px;
    height: 16px;
    transition: all 0.2s ease;
}

.contenido-tabla-todas-coberturas {
    display: none;
}

.contenido-tabla-todas-coberturas.open {
    display: block;
}

.rowgrey-tabla-todas-coberturas,
.rowwhite-tabla-todas-coberturas {
    min-height: 60px;
    padding: 8px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ver-menos {
        width: 20%;
    }
}

.rowgrey-tabla-todas-coberturas p,
.rowwhite-tabla-todas-coberturas p {
    font: normal 400 16px/20px "Barlow", sans-serif;
    color: $color-text;
}

.rowgrey-tabla-todas-coberturas {
    background-color: #f9f9f9;
}

.rowgrey-tabla-todas-coberturas>div:nth-child(1),
.rowwhite-tabla-todas-coberturas>div:nth-child(1) {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rowgrey-tabla-todas-coberturas>div:nth-child(1) img,
.rowwhite-tabla-todas-coberturas>div:nth-child(1) img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    flex-shrink: 0;
}

.rowgrey-tabla-todas-coberturas>div:nth-child(2),
.rowwhite-tabla-todas-coberturas>div:nth-child(2) {
    width: 60%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .rowgrey-tabla-todas-coberturas>div:nth-child(1),
    .rowwhite-tabla-todas-coberturas>div:nth-child(1) {
        width: 55%;
    }
}

@media (max-width: 575px) {

    .rowgrey-tabla-todas-coberturas,
    .rowwhite-tabla-todas-coberturas {
        padding: 8px;
    }
}


.nocubre {
    min-height: 100%;
    padding: 25px;
    margin: 1rem auto 0;
}

.nocubre-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1920px;
    position: relative;
}

.nocubre-box-title {
    text-align: center;

    h3 {
        font: normal 700 28px/30.8px $Fuente1 !important;
        color: $color-primario;
        text-align: center;
        margin: 0 0 1rem;
    }

    p {
        font: normal 400 18px/28px $Fuente2 !important;
        color: $color-text;
    }
}

.nocubre-box-title p.list-no {
    width: 100%;
    max-width: 991px;
    padding: 0 0 0 1rem !important;
    margin: 0 0 1rem !important;
    position: relative;
    text-align: left;
    font: normal 400 16px/1.3 "Barlow", sans-serif !important;
}

.nocubre-box-title p.list-no:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url(/docs/default-source/cpro-2021/sura-icon-danger.svg) no-repeat center center;
    background-size: auto;
    background-size: 16px;
    position: absolute;
    top: 4px;
    left: -10px;
}

@media (max-width: 768px) {
    .nocubre-box-title p.list-no {
        padding: 0 0 0 2rem !important;
    }

    .nocubre-box-title p.list-no:before {
        left: 10px;
    }
}

.detalles-nocubre {
    display: flex;
    width: 100%;
    justify-content: center;
    // align-content: flex-start;
    margin: 2rem;
    // background-color: #e3e829;

    .icono-nocubre {
        width: 5%;
        display: flex;
        justify-content: flex-end;
        align-self: flex-start;
        margin-right: 1rem;
        padding-top: 10px;

        // border: $border-red;
        img {
            width: 100%;
            max-width: 20px;
        }
    }

    .texto-nocubre {
        width: 80%;

        p {
            font: normal 400 18px/28px $Fuente2;
            color: $color-text;
        }
    }

    @media (max-width: 578px) {
        .texto-nocubre {
            p {
                font: normal 400 16px/26px $Fuente2 !important;
            }
        }
    }
}

.legal-nocubre {
    display: flex;
    justify-content: center;
    width: 80%;

    p {
        font: italic 400 18px/22px $Fuente2 !important;
        color: $color-text;
    }
}


.faq {
    min-height: 350px;
    // margin: 4rem auto 0;
    padding: 25px;
}

.faq-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1920px;
    position: relative;
    padding: 0 4rem;
}

.faq-box-title h3 {
    font: normal 700 28px/30.8px "FS Joey", serif !important;
    color: #0033a0;
    text-align: center;
    margin: 1rem;
}

.faq-box-desc {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1920px;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid #ecf0f1;
}

.faq-box-desc p,
.faq-box-desc p strong {
    font: normal 400 18px/1.3 "Barlow", sans-serif;
    color: #53565a;
    text-align: left;
    margin-bottom: 1rem;
}

.faq-box-desc p strong {
    font-weight: 700;
    margin-bottom: 1rem;
}

.faq-box-link {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 1920px;
    position: relative;
    padding: 2rem;
}

.faq-box-link img {
    width: 1rem;
    margin-right: 0.5rem;
}

.faq-box-link a.bn-no {
    font: normal 700 18px/1.3 "Barlow", sans-serif;
    color: #00aec7;
    text-align: left;
    letter-spacing: 1px;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .faq {
        margin: 2rem auto 0;
    }

    .faq-box {
        padding: 0 25px;
    }

    .faq-box-desc {
        padding: 0.5rem 0;
    }

    .faq-box-desc p,
    .faq-box-desc p strong {
        font-size: 16px !important;
    }

    .faq-box-link {
        padding: 2rem 0 0;
    }

    .faq-box-link a.bn-no {
        font-size: 14px !important;
    }
}



.cotizar {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin: 2rem auto;
    padding: 2rem 0 1rem;
    background: linear-gradient(to left,
            white 0%,
            white 55%,
            #ecf0f1 55%,
            #ecf0f1 100%);
}

.container-cotizar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 !important;
}

@media (max-width: 991px) {
    .container-cotizar {
        padding: 8px !important;
        flex-direction: column;
        align-items: center;
    }

    .cotizar-box-info {
        max-width: 560px;
        // margin: 2rem auto;
        // padding-top: 2rem;
    }
}


.cotizar .container-cotizar {
    position: relative;
    padding: 0 15px;
}

.cotizar-box-form::before {
    content: "";
    position: absolute;
    background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
    background-size: 100%;
    top: -15px;
    width: 80px;
    height: 96px;
    opacity: 0.5;
    left: 13%;
    transform: translateX(0%);
}

@media screen and (max-width: 1720px) {
    .cotizar-box-form::before {
        top: 0;
        // opacity: 0.1;
        left: -0%;
    }
}

@media screen and (max-width: 1370px) {
    .cotizar-box-form::before {
        top: 0;
        // opacity: 0.1;
        left: -4%;
    }
}

@media screen and (max-width: 980px) {
    .cotizar-box-form::before {
        top: 2%;
        // opacity: 0.1;
        left: 2%;
    }
}

@media screen and (max-width: 575px) {
    .cotizar-box-form {
        padding: 0 0 !important;
    }

    .cotizar-box-form::before {
        top: 8%;
        // opacity: 0.1;
        left: -14%;
        transform: translateX(0%);
    }
}

.cotizar-box-form {
    width: 100%;
    max-width: 440px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.cotizar-box-form-title h2 {
    font: normal 700 36px/1 "FS Joey", sans-serif !important;
    color: #0033a0;
    margin: -0.5rem auto 2rem;
}

.contacto-box-form-formulario {
    width: 100%;
}

.contacto-box-form-formulario fieldset {
    padding: 0.35em 0 0.625em;
    border: none;
}

.contacto-box-form-formulario .box-form {
    width: 100%;
    max-width: 330px;
    margin-bottom: 0;
}

.contacto-box-form-formulario .box-form .box-form-input-rut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.contacto-box-form-formulario .box-form .box-form-input-rut span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    margin: 0 5px;
}

.contacto-box-form-formulario .box-form label {
    color: #0033a0;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;

}

.contacto-box-form-formulario .box-form input {
    width: 100%;
    height: 56px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #ecf0f1 !important;
    padding: 0 20px;
    margin-bottom: 1rem;
}

.contacto-box-form-formulario .box-form input::placeholder {
    color: $color-text !important;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
}

.contacto-box-form-formulario .box-form input::-webkit-input-placeholder {
    color: $color-text;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
}

.contacto-box-form-formulario .box-form input::-moz-placeholder {
    color: $color-text;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
}

.contacto-box-form-formulario .btn {
    width: 240px;
    margin-left: 0;
    margin-top: 0.5rem;
}

.cotizar-box-info {
    width: 100%;
    max-width: 560px;
    margin: 0 0 0 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cotizar-box-info h2 {
    font: normal 700 28px/1.2 "Barlow", sans-serif !important;
    color: #53565a;
    margin: 0 0 1rem;
    text-align: center;
}

.cotizar-box-info ul {
    margin: 16px auto;
    padding-left: 2rem;
    list-style-type: none;
}

.cotizar-box-info ul li {
    color: #53565a;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/check-azul.svg?sfvrsn=8c2f6e6d_3);
    background-position: 5px 5px;
    background-size: 1.15rem 1.5rem;
    background-repeat: no-repeat;
}



.cotizar-box-info p {
    font: normal 400 22px/1.2 "Barlow", sans-serif;
    color: #53565a;
    text-align: center;
    max-width: 510px;
}

.cotizar-box-info img {
    width: 100%;
    margin: 32px auto;
}

@media (max-width: 991px) {
    .cotizar {
        margin: 32px auto;
        padding: 0;
        background: linear-gradient(to top,
                white 0%,
                white 50%,
                #ecf0f1 50%,
                #ecf0f1 100%);
    }

    .cotizar .container {
        padding: 8px !important;
        flex-direction: column;
        align-items: center;
    }

    .contacto-box-form-formulario fieldset {
        padding: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cotizar-box-form-title h2 {
        text-align: center;
    }

    .cotizar-box-form {
        max-width: 560px;
        margin: 2rem auto 2rem;
    }

    .cotizar-box-info {
        max-width: 560px;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .contacto-box-form-formulario .box-form .box-form-input-rut {
        margin-bottom: 0;
    }

    button.bn.bn-yellow,
    .bn.bn-yellow {
        margin: 0 auto 1rem;
    }
}

@media (max-width: 768px) {
    .cotizar {
        background: linear-gradient(to top,
                white 0%,
                white 48%,
                #ecf0f1 48%,
                #ecf0f1 100%);
    }

    .cotizar-box-info {
        margin: 0;
    }

    button.bn.bn-yellow,
    .bn.bn-yellow {
        margin: 1rem auto 2rem;
    }
}

@media (max-width: 575px) {
    .cotizar {
        background: linear-gradient(to top,
                white 0%,
                white 48%,
                #ecf0f1 40%,
                #ecf0f1 100%);
        margin: 1rem auto 0;
    }

    .cotizar-box-form-title {
        max-width: 100%;
        margin-left: initial;
    }

    .cotizar-box-form-title h2 {
        width: 100%;
        max-width: 375px;
        margin: 0 auto 2rem;
    }

    .cotizar-box-form {
        margin: 2rem auto 0;
    }

    .cotizar-box-info ul {
        max-width: 320px;
        margin: 16px 0 32px 1rem;
    }

    .cotizar-box-info ul li {
        font-size: 16px;
    }

    .cotizar-box-info p {
        font-size: 16px;
    }

    .cotizar-box-info img {
        padding: 0 1rem;
    }
}




.rrss .rrss__selector .dropdown:hover .rrss__content {
    display: block;
    transition: all 0.3s ease;
    opacity: 1;
}

.rrss .container {
    flex-direction: column;
}

.rrss-title h2 {
    color: #0033a0;
}

.rrss-card {
    width: 100%;
    max-width: 1040px;
    margin: 2rem auto 3rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
    .otros-seguros{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        color: $color-secundario;
        font: normal 700 16px/19.2px $Fuente2;
        letter-spacing: 1.7px;
        // align-content: flex-end;
        // text-align: center;
        // margin: 1rem auto;
    }
}

.compartir-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.compartir-links-logo {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compartir-links-logo p.sub {
    text-align: center;
    max-width: 300px;
    font-size: 18px;
}

.compartir-links-logo-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.compartir-links-logo-box .heart {
    margin-right: 16px;
    box-shadow: 0 0 0 0 #fa5f5f;
    transform: scale(1.1);
    animation: pulse 1.5s infinite;
    border-radius: 50%;
    width: 60px;
}



.compartir-links-logo-box .logo {
    max-width: 240px;
    margin: 4px 0 0;
    z-index: 0;
}

.compartir-links-rrss {
    width: 100%;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compartir-links-rrss-icons {
    width: 100%;
    margin: 0 auto 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.compartir-links-rrss-icons-tw,
.compartir-links-rrss-icons-fb,
.compartir-links-rrss-icons-wa {
    opacity: 0.5;
    filter: grayscale(2);
    transition: all 0.3s ease-out;
}

.compartir-links-rrss-icons-tw:hover,
.compartir-links-rrss-icons-fb:hover,
.compartir-links-rrss-icons-wa:hover {
    cursor: pointer;
    opacity: 1;
    filter: grayscale(0);
    transition: all 0.3s ease-out;
}

.compartir-links-rrss-icons-tw img {
    width: 36px;
}

.compartir-links-rrss-icons-fb img {
    height: 30px;
}

.compartir-links-rrss-icons-wa img {
    height: 32px;
}

.compartir-links-rrss-copy {
    width: 100%;
    display: flex;
    justify-content: center;
}

.compartir-links-rrss-copy a {
    color: #00aec7 !important;
    margin: 0 0 0 16px;
    font-size: 18px;
    line-height: 28px;
    font-family: $Fuente2;
    position: relative;
    cursor: pointer;
}

.compartir-links-rrss-copy a:before {
    content: "";
    position: absolute;
    background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/icon-enlace.svg?sfvrsn=c7a3696d_3) no-repeat center center;
    background-size: 20px;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 2px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 65, 65, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.compartir-links ul {
    width: 100%;
    max-width: 360px;
    margin: 0 16px;
}

.compartir-links ul li {
    min-height: 56px;
    display: flex;
    position: relative;
}

.compartir-links ul li::before {
    content: "";
    width: 24px;
    height: 16px;
    background: url(/docs/default-source/landing-seguro-auto-flexible-2020/arrow-pointing-to-right.svg) no-repeat center center;
    background-size: 24px;
    position: absolute;
    left: -40px;
}

.compartir-links ul li a {
    color: #00aec7;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .compartir-links {
        flex-direction: column;
        align-items: center;
    }

    .compartir-links-logo {
        margin-bottom: 2rem;
    }

    .compartir-links ul {
        max-width: 240px;
        margin: 0 16px;
    }
}

@media screen and (max-width: 575px) {
    .compartir-links-rrss {
        margin: 32px auto 8px;
    }

    .compartir-links ul {
        max-width: 240px;
        margin: 0 auto;
    }
}

.redes {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding: 0;
    position: relative;
    // background-color: #00aec7;
}

.empresa-sura-card {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1040px;
    margin: 2rem auto 3rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
    .sura-card-texto {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        width: 45%;
        // border: $border-green;
        h3 {
            margin: 2rem 0;
        }

        ul {
            // margin: 16px auto;
            // padding-left: 1rem;
            list-style-type: none;
        }

        ul li {
            color: #53565a;
            font-family: "Barlow", sans-serif;
            font-weight: 400;
            font-size: 18px;
            position: relative;
            // margin-bottom: 2rem;
            padding-bottom: 1rem;
            padding-left: 2rem;
            background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/check-azul.svg?sfvrsn=8c2f6e6d_3);
            background-position: 7px 0;
            background-size: 1.15rem 1.5rem;
            background-repeat: no-repeat;
        }
        .enlace-vermas-card {
            display: flex;
            justify-content: flex-start;
        }
        
    }
    .sura-card-image {
        width: 45%;
        // border: $border-red;
        img {
            width: 100%;
        }
    }

}

@media (max-width: 991px) {
    .empresa-sura-card{
        flex-direction: column;
        // background-color: #e3e829;
        // align-content: center;
        align-items: center;
        // border: $border-green;
        padding: 0;

        .sura-card-texto {
            width: 90%;
            h3 {
                align-self: center;
            }

            .enlace-vermas-card {
                align-self: center;
            }
        }
    }
}