    <div class="nuevo-wrap">
        <!-- HEADER -->
        <section class="hipotecario-header">
            <picture>
                <source
                    srcset="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/hero-motos-desk.jpg"
                    media="(min-width: 769px)">
                </source>
                <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/hero-motos-mob.jpg?sfvrsn=2"
                    alt="Hogar Protegido SURA" />
            </picture>
            <div class="container">
                <div class="hipotecario-header__box">
                    <div class="hipotecario-header__box-content">
                        <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/logo-motos-blanco.svg"
                            alt="Logo hogar protegido" />
                        <h6 class="bajada">Protecci&oacute;n para tu moto, tranquilidad para ti</h6>
                        <p class="bajada">Asegura tu trayecto y <strong>mu&eacute;vete seguro</strong> junto a quienes
                            m&aacute;s quieres.
                        </p>
                        <a id="cotizarLinkBanner" class="bn bn-sm bn-yellow">cotizar</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- OPCIONES -->
        <section class="opciones">
            <div class="container">
                <ul class="opciones__list">
                    <li>Protecci&oacute;n para ti <br />
                        y tu moto </li>
                    <li>Cubre p&eacute;rdida total, <br />
                        robo y RC</li>
                    <li>Reembolso de gastos m&eacute;dicos y renta por hospitalizaci&oacute;n diaria</li>
                    <li>Asistencia ante <br />
                        eventualidades</li>
                </ul>
            </div>
        </section>
        <!-- DESCRIPCION -->
        <section class="descripcion">
            <div class="container">
                <div class="descripcion__wrap">
                    <div class="descripcion__text">
                        <h1 class="descripcion__text-title">Seguro de Motos</h1>
                        <p class="small">Es un seguro que <strong>te cubre a ti, a tu moto y sus accesorios en caso de
                                robo
                                y accidente,</strong> tambi&eacute;n cubre aquellos da&ntilde;os ocasionados a terceros.
                            Adem&aacute;s, cuenta
                            con
                            asistencias especiales que te ayudar&aacute;n cuando lo necesites.
                        </p>
                        <p class="small"> Te apoyamos y ayudamos <strong>para cubrir los d&iacute;as de cama en caso de
                                accidente,</strong>
                            para amortizar
                            el lucro cesante.
                        </p>
                        <div class="descripcion__text-box">
                            <div class="circle-img">
                                <img alt=""
                                    src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-celular.svg" />
                            </div>
                            <p class="small"><em><strong>Autoinspecci&oacute;n por WhatsApp.</strong> Recibir&aacute;s
                                    las instrucciones
                                    para
                                    que t&uacute; mismo
                                    hagas la inspecci&oacute;n de tu moto &iexcl;ver&aacute;s lo sencillo que es!</em>
                            </p>
                        </div>
                    </div>
                    <div class="descripcion__img">
                        <div class="descripcion__img-item">
                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-image-motos.png"
                                alt="Sura Hogar Protegido" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- DETALLES -->
        <section class="detalles">
            <div class="container">
                <div class="detalles__title">
                    <h3>Detalles del seguro</h3>
                </div>
                <nav class="detalles__nav">
                    <ul class="detalles__nav-list">
                        <li class="detalles__nav-item">
                            <a href="#coberturas" class="nav-detalles active">
                                <img src="https://seguros.sura.cl/docs/default-source/cpro-2021/sura-icon-coberturas.svg"
                                    alt="Sura icon coberturas hogar protegido" />
                                Coberturas
                            </a>
                        </li>
                        <li class="detalles__nav-item">
                            <a href="#nocubre" class="nav-detalles">
                                <img src="https://seguros.sura.cl/docs/default-source/cpro-2021/sura-icon-no-cubre.svg"
                                    alt="Sura icon no coberturas hogar protegido" />
                                No cubre
                            </a>
                        </li>
                        <li class="detalles__nav-item">
                            <a href="#asistencia" class="nav-detalles">
                                <img src="https://seguros.sura.cl/docs/default-source/cpro-2021/sura-icon-asistencias.svg"
                                    alt="Sura icon asistencias hogar protegido" />
                                Asistencias
                            </a>
                        </li>
                        <li class="detalles__nav-item">
                            <a href="#faq" class="nav-detalles">
                                <img src="https://seguros.sura.cl/docs/default-source/cpro-2021/sura-icon-faq.svg"
                                    alt="Sura icon preguntas frecuentes hogar protegido" />
                                Preguntas frecuentes
                            </a>
                        </li>
                    </ul>
                </nav>
                <section class="detalles__despliegue">
                    <article class="content-coberturas active" id="coberturas">
                        <div class="container-fluid contenido-detalles">
                            <div class="contenido-detalles__title">
                                <h4>Coberturas</h4>
                                <p>Puedes elegir el plan con la cobertura que necesites:</p>
                            </div>
                            <div class="contenido-detalles__slider">
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-perdida.svg"
                                                alt="sura icon cobertura perdida" />
                                        </div>
                                        <h6>P&eacute;rdida total</h6>
                                        <p class="small">Cubre <strong>valor comercial</strong></p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-rc.svg"
                                                alt="sura icon cobertura responsabilidad civil" />
                                        </div>
                                        <h6>Responsabilidad civil </h6>
                                        <p class="small"><strong>UF 500</strong> de cobertura</p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-accesorios.svg?sfvrsn=2"
                                                alt="sura icon cobertura robo de accesorios" />
                                        </div>
                                        <h6>Robo de accesorios</h6>
                                        <p class="small"><strong>10% del valor comercial</strong> de la motocicleta
                                            asegurada.
                                            <strong>M&aacute;ximo UF 7</strong> por vigencia.
                                        </p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-robo.svg"
                                                alt="sura icon cobertura robo o hurto" />
                                        </div>
                                        <h6>Robo, hurto o uso no autorizado</h6>
                                        <p class="small">Cubre <strong>valor comercial</strong></p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-accidental.svg"
                                                alt="sura icon cobertura muerte accidental" />
                                        </div>
                                        <h6>Muerte accidental o invalidez</h6>
                                        <p class="small"><strong>UF 100</strong> por cada asiento, con monto
                                            m&aacute;ximo
                                            indemnizable de
                                            <strong>UF 200</strong> por moto
                                        </p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-hospitalizacion.svg"
                                                alt="sura icon cobertura renta hospitalizacion" />
                                        </div>
                                        <h6>Renta por hospitalizaci&oacute;n diaria </h6>
                                        <p class="small"><strong>UF 0,25</strong> a partir del 3er d&iacute;a de
                                            hospitalizaci&oacute;n y
                                            <strong>hasta 30
                                                d&iacute;as</strong> por a&ntilde;o vigencia</p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item">
                                    <div class="contenido-detalles__coberturas">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-gastos.svg"
                                                alt="sura icon cobertura reembolso" />
                                        </div>
                                        <h6>Reembolso de gastos m&eacute;dicos</h6>
                                        <p class="small">Hasta <strong>UF 50</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="contenido-detalles__agregar">
                                <div class="contenido-detalles__agregar-title">
                                    <img alt=""
                                        src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-mas.svg" />
                                    <h6>Mejora tu plan con esta <span class="cyan">cobertura opcional</span></h6>
                                </div>
                                <div class="contenido-detalles__agregar-box">
                                    <img alt=""
                                        src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/icon-danos-parciales-moto.svg" />
                                    <div class="box-text">
                                        <h6>P&eacute;rdida total y robo</h6>
                                        <p>Cubre da&ntilde;os ocurridos en la moto con tope de hasta el valor comercial
                                            de
                                            la moto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="content-coberturas" id="nocubre">
                        <div class="container-fluid contenido-detalles">
                            <div class="contenido-detalles__title">
                                <h4>No cubre</h4>
                            </div>
                            <div class="contenido-detalles__text">
                                <ul class="contenido-detalles__text-list">
                                    <li>Los siniestros ocurridos mientras el veh&iacute;culo asegurado est&eacute;
                                        siendo
                                        destinado a un fin diferente al declarado al contratar el seguro. </li>
                                    <li>Los siniestros que experimente o provoque el veh&iacute;culo asegurado cuando
                                        participe en apuestas, desaf&iacute;os, carreras o concursos de cualquier
                                        naturaleza o en las pruebas preparatorias para tales eventos o cuando el
                                        veh&iacute;culo sea modificado en su cilindrada o potencia (incorporaci&oacute;n
                                        de
                                        turbos, llantas desplazadas, alerones, etc.) o cualquier artefacto que
                                        persiga tal prop&oacute;sito (excepto que vengan con la implementaci&oacute;n de
                                        f&aacute;brica). </li>
                                    <li>El Asegurado haya arrendado o subarrendado la motocicleta</li>
                                    <li>El asegurado haya transferido la propiedad de la motocicleta antes de la
                                        ocurrencia del siniestro</li>
                                </ul>
                                <p><em>Las otras exclusiones del seguro se encuentran definidas en los Condicionados
                                        Generales bajo el modelo de p&oacute;liza <strong>POL120200019 </strong></em>
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="content-coberturas" id="asistencia">
                        <div class="container-fluid contenido-detalles">
                            <div class="contenido-detalles__title">
                                <h4>Asistencias</h4>
                            </div>
                            <div class="contenido-detalles__slider">
                                <div class="contenido-detalles__item" style="max-width: 304px;">
                                    <div class="contenido-detalles__asistencias">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-remolque.svg"
                                                alt="sura icon asistencia plomería" />
                                        </div>
                                        <h6>Remolque o transporte de la motocicleta ante accidente o aver&iacute;a</h6>
                                        <p class="small">Hasta <strong>UF 5</strong> por evento</p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item" style="max-width: 304px;">
                                    <div class="contenido-detalles__asistencias">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-reparacion.svg"
                                                alt="sura icon asistencia electricidad" />
                                        </div>
                                        <h6>Servicio de reparaci&oacute;n <br />
                                            in-situ</h6>
                                        <p class="small">Con servicio <strong>Ilimitado</strong></p>
                                    </div>
                                </div>
                                <div class="contenido-detalles__item" style="max-width: 304px;">
                                    <div class="contenido-detalles__asistencias">
                                        <div class="circle-img">
                                            <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-icon-ambulancia.svg"
                                                alt="sura icon asistencia cerrajeria" />
                                        </div>
                                        <h6>Traslado del asegurado en ambulancia ante accidente</h6>
                                        <p class="small">Hasta <strong>UF 4</strong> por evento, m&aacute;ximo 3 eventos
                                            al a&ntilde;o</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="content-coberturas" id="faq">
                        <div class="container-fluid contenido-detalles">
                            <div class="contenido-detalles__title">
                                <h4>Preguntas Frecuentes</h4>
                            </div>
                            <div class="contenido-detalles__text">
                                <div class="list-faq">
                                    <p><strong>&iquest;Qu&eacute; coberturas tienen deducible?</strong></p>
                                    <p class="small">
                                        El deducible es el monto o porcentaje de la p&eacute;rdida que t&uacute; debes
                                        pagar,
                                        seg&uacute;n el ajuste t&eacute;cnico de Seguros SURA. Esta determinado en la
                                        car&aacute;tula y
                                        lo tendr&aacute;s que asumir independientemente de que t&uacute;, o la persona a
                                        la que le
                                        hayas prestado la moto asegurada, sea responsable o inocente.
                                    </p>
                                    <p class="p-list small"><strong>Deducible P&eacute;rdida Total a consecuencia de
                                            da&ntilde;os</strong>
                                    </p>
                                    <p class="small">Rige deducible del 5% de la p&eacute;rdida con un m&iacute;nimo de
                                        UF 10 en
                                        toda y cada
                                        p&eacute;rdida, excepto en Robo y/o Hurto, Responsabilidad Civil, y Asistencia.
                                    </p>
                                    <p class="p-list small"><strong>Deducible por Robo y/o Hurto</strong></p>
                                    <p class="small">En caso de Robo y/o Hurto, rige deducible del <strong>10% del valor
                                            de la
                                            p&eacute;rdida.</strong>
                                    </p>
                                </div>
                                <div class="list-faq">
                                    <p><strong>&iquest;Qu&eacute; se considera p&eacute;rdida total de la moto?</strong>
                                    </p>
                                    <p class="small">Da&ntilde;os materiales que sean consecuencia directa de:
                                    </p>
                                    <ul class="list-faq-list">
                                        <li>Accidentes, esto es, un hecho s&uacute;bito e imprevisto independiente de la
                                            voluntad del conductor.</li>
                                        <li>Actos malintencionados de terceros.</li>
                                        <li>Terrorismo.</li>
                                        <li>Eventos de la naturaleza como terremotos, incendios, inundaciones,
                                            entre
                                            otros.</li>
                                    </ul>
                                    <p class="small">La p&eacute;rdida es total si el valor de los repuestos, la mano de
                                        obra necesaria
                                        para la reparaci&oacute;n, tienen un valor igual o superior al 65% del valor
                                        comercial de la moto al momento del siniestro, de lo contrario la p&eacute;rdida
                                        es
                                        parcial. En caso de una p&eacute;rdida total, Seguros SURA te pagar&aacute; el
                                        valor
                                        comercial de la moto asegurada al momento del siniestro, m&aacute;ximo valor de
                                        referencia, menos el deducible pactado.En casos de p&eacute;rdidas totales que
                                        involucren accesorios adicionales, se paga por estos accesorios el valor
                                        establecido en la p&oacute;liza, menos el deducible contratado.</p>
                                </div>
                                <div class="list-faq">
                                    <p><strong>&iquest;Seguro de Motos ofrece cobertura en el extranjero?</strong></p>
                                    <p>No. Las coberturas contratadas operan mientras la moto asegurada se encuentre
                                        en el territorio de Chile.</p>
                                </div>
                                <div class="list-faq">
                                    <p><strong>&iquest;C&oacute;mo se solicita una asistencia?</strong></p>
                                    <p>El asegurado deber&aacute; llamar al n&uacute;mero de atenci&oacute;n de Seguros
                                        SURA 600 411 1000
                                        y proporcionar los datos b&aacute;sicos para poder asistir.</p>
                                </div>
                            </div>
                            <!-- <div class="contenido-detalles__btn">
                                            <div class="link-faq">
                                                <img alt="SURA ICON LINK"
                                                    src="https://seguros.sura.cl/docs/default-source/cpro-2021/sura-icon-link.svg" />
                                                <a href="https://seguros.sura.cl/movilidad/seguro-asistencia-en-viaje/preguntas-frecuentes"
                                                    class="bn-no" target="_blank">IR A TODAS LAS PREGUNTAS FRECUENTES</a>
                                            </div>
                                        </div> -->
                        </div>
                    </article>
                </section>
            </div>
        </section>



        <!-- COTIZAR-->
        <section class="cotizar" id="cotizar">

            <div class="cotizar-box-info">
                <h4 class="cotizar-box-info__title">Ten en cuenta que:</h4>
                <ul>
                    <li>Este seguro solo cubre motos de hasta 500 cc con un valor comercial de hasta <strong> $5.000.000
                        de uso particular y comercial.</strong></li>
                    <li>Las coberturas contratadas operan mientras la moto asegurada <strong>se encuentre en el
                        Territorio de Chile.</strong></li>
                    <li>La vigencia de este seguro es <strong>anual y renovable autom&aacute;ticamente</strong> por periodos
                        iguales.</li>
                </ul>
                <p class="small">Este seguro solo se puede pagar mediante pago autom&aacute;tico con carga a tarjeta de
                    cr&eacute;dito (PAT) o con cargo a un mandato PAT registrado previamente en Seguros SURA. Puedes
                    utilizar las siguientes tarjetas.</p>
                <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/sura-image-pagos.png?sfvrsn=2"
                    alt="SURA Iconos tarjeta de crédito" />
            </div>

            <!-- FORMULARIO -->
            <div class="container-formulario" id="app-motos">
                <div id="ancla">&nbsp;</div>
                
                <fieldset>
                    <div class="sura-loader" style="display: none;">
                        &nbsp;
                    </div>
                    <div class="form-container">
                        <div class="form-title">
                            <h2>Cotiza online tu Seguro de Motos</h2>
                        </div>
                    </div>
                    
                    <!--
                            <div class="message-error" v-if="errored">
                                <p>Faltan datos</p>
                            </div>
                        -->
                    <div v-show="enviado==1" class="message-success">
                        <img src="/docs/default-source/landing-seguro-motos/sura-check-icon.svg?sfvrsn=2"
                            alt="Icon Ok" />
                        <h3>&iexcl;Muchas Gracias!</h3>
                        <p>Tu solicitud ha sido enviada correctamente. Nos pondremos en contacto contigo a la brevedad.
                        </p>
                    </div>
                    <div class="form-container" v-show="enviado==0">
                        <div class="form-box rut-box">

                            <div class="form-box-input ">
                                <label class="lbl-rut">Rut*</label>
                                <input type="text" id="rut" name="rut" placeholder="12345678" class="form-input rut"
                                    autocomplete="off" minlength="7" maxlength="8" v-model="rut"
                                    v-on:change="obtenerpersona" data-val-required="El ingreso de tu Rut es obligatorio"
                                    data-val="true" data-val-length="El campo Rut debe tener entre 7 y 10 caracteres."
                                    data-val-length-max="10" data-val-length-min="7"
                                    data-val-maxlength="El campo Rut tiene un largo máximo de 10 caracteres"
                                    data-val-maxlength-max="10" />
                                <span data-valmsg-for="rut" data-valmsg-replace="true"></span>
                            </div>
                            <div class="separador-rut">
                                <span>-</span>
                            </div>

                            <div class="form-box-input ">
                                <input type="text" id="dv" name="dv" placeholder="0"
                                        class="form-input-circle form-dvrut" maxlength="1" autocomplete="off"
                                        data-val-length-max="1" data-val-length-min="1"
                                        data-val-maxlength="El campo Dv tiene un largo máximo de 1 caracteres"
                                        data-val-maxlength-max="1" />
                                    <span data-valmsg-for="dv" data-valmsg-replace="true"></span>
                                
                            </div>

                        </div>
                    </div>
                    <div class="form-container" v-show="enviado==0">
                        <div class="form-box datos-box">
                            <div class="form-box-input">
                                <label>Nombres*</label>
                                <input type="text" id="nombre" name="nombre" placeholder="Nombres" class="form-input"
                                    autocomplete="off" maxlength="75" v-model="nombre"
                                    data-val-required="El ingreso de tu Nombre es obligatorio" data-val="true" />
                                <span data-valmsg-for="nombre" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>Apellidos*</label>
                                <input type="text" id="apellido" name="apellido" placeholder="Apellidos"
                                    class="form-input" autocomplete="off" maxlength="75" v-model="apellido"
                                    data-val-required="El ingreso de tu Apellido es obligatorio" data-val="true" />
                                <span data-valmsg-for="apellido" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>Fecha de Nacimiento*</label>
                                <input type="text" id="nacimiento" name="nacimiento" placeholder="DD/MM/YYYY"
                                    class="form-input form-fecha" autocomplete="off" maxlength="10" v-model="nacimiento"
                                    data-val-required="El ingreso de tu Fecha de nacimiento es obligatorio"
                                    data-val="true" />
                                <span data-valmsg-for="nacimiento" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>E-mail*</label>
                                <input type="text" id="email" name="email" placeholder="mailasegurado@mail.com"
                                    class="form-input email" autocomplete="off" maxlength="75" v-model="email"
                                    data-val-emailmsj="Emal es incorrecto" data-val-regex="Formato de Correo Inválido."
                                    data-val-regex-pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
                                    data-val-required="El ingreso de tu Email es obligatorio" data-val="true" />
                                <span data-valmsg-for="email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>Celular*</label>
                                <input type="text" id="celular" name="celular" placeholder="98765 4321"
                                    class="form-input form-number especial" autocomplete="off" maxlength="9"
                                    v-model="celular" data-val-required="El ingreso de tu Celular es obligatorio"
                                    data-val="true" />
                                <span data-valmsg-for="celular" data-valmsg-replace="true"></span>
                            </div>

                        </div>
                        <div class="form-box direccion-box">
                            <div class="form-box-input input-direccion">
                                <label>Direcci&oacute;n*</label>
                                <input type="text" id="direccion" name="direccion"
                                    placeholder="Av. Principal 0011, Santiago" class="form-input form-direccion"
                                    autocomplete="off" maxlength="100" v-model="direccion"
                                    data-val-required="El ingreso de tu Dirección es obligatorio" data-val="true" />
                                <span data-valmsg-for="direccion" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>Comuna*</label>
                                <select v-model="comunaMoto" id="comunaMoto" name="comunaMoto" class="form-input"
                                    data-val-required="El ingreso de tu Comuna es obligatorio" data-val="true">
                                    <option value="0" disabled="disabled">
                                        Selecciona
                                    </option>
                                    <option v-for="comuna in comunas" :value="comuna.nombre">
                                        {{ comuna.nombre }}
                                    </option>
                                </select>
                                <span data-valmsg-for="comunaMoto" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-container patente-box" v-show="enviado==0">
                            <div class="form-box-input">
                                <label>Patente*</label>
                                <input type="text" id="patente" name="patente" placeholder="FT123"
                                    class="form-input input-patente" autocomplete="off" maxlength="5" v-model="patente"
                                    data-val-required="El ingreso de la Patente es obligatorio" data-val="true"
                                    data-val-length="El campo Patente debe tener 5 caracteres." data-val-length-max="5"
                                    data-val-length-min="5"
                                    data-val-maxlength="El campo Patente tiene un largo máximo de 5 caracteres"
                                    data-val-maxlength-max="5" data-val-regex="Patente Inválida."
                                    data-val-regex-pattern="^[a-zA-Z]{2}[0-9]{3}|[a-zA-Z]{3}[0-9]{2}" />
                                <span data-valmsg-for="patente" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input new-car-box">
                                <input type="checkbox" class="checkbox" name="new-car" id="new-car">
                                <label for="new-car" class="lbl-new-car">Mi vehiculo es nuevo, aún no tiene
                                    patente</label>
                                <img class="icono-ayuda"
                                    src="/docs/default-source/landing-seguro-motos/help-icon.svg?sfvrsn=a8a21052_2"
                                    alt="icono ayuda" data-toggle="tooltip" data-placement="top"
                                    title="Marca esta opcion si tu vehiculo es nuevo">
                            </div>

                        </div>
                        <div class="form-container datos-vehiculo" v-show="enviado==0">
                            <div class="form-box-input">
                                <label>Marca*</label>
                                <select v-model="marcaMoto" name="marcaMoto" id="marcaMoto" class="form-input"
                                    data-val-required="El ingreso de la marca de tu Moto es obligatorio"
                                    data-val="true">
                                    <option value="0" disabled="disabled">
                                        Selecciona
                                    </option>
                                    <option v-for="marca in marcas" :value="marca.Id">
                                        {{ marca.Nombre }}
                                    </option>
                                </select>
                                <span data-valmsg-for="marcaMoto" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>Modelo*</label>
                                <select v-model="modeloMoto" id="modeloMoto" name="modeloMoto" class="form-input"
                                    data-val-required="El ingreso del modelo de tu Moto es obligatorio" data-val="true">
                                    <option value="0" disabled="disabled">
                                        Selecciona
                                    </option>
                                    <option v-for="modelo in modelos">
                                        {{modelo.Nombre}}
                                    </option>
                                </select>
                                <span data-valmsg-for="modeloMoto" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-box-input">
                                <label>Otro modelo</label>
                                <input type="text" v-model="modeloMotoExtra" id="modeloExtra" placeholder="Modelo"
                                    class="form-input" maxlength="20" autocomplete="off" />
                            </div>
                            <div class="form-box-input">
                                <label>A&ntilde;o*</label>
                                <select v-model="anioMoto" id="anioMoto" name="anioMoto" class="form-input"
                                    data-val-required="El ingreso del año de tu Moto es obligatorio" data-val="true">
                                    <option value="0" disabled="disabled">
                                        A&ntilde;o
                                    </option>
                                    <option v-for="anio in anios" :value="anio.Anio">
                                        {{ anio.Anio }}
                                    </option>
                                </select>
                                <span data-valmsg-for="anioMoto" data-valmsg-replace="true"></span>
                            </div>


                        </div>
                        <!-- USO DEL VEHICULO -->
                        <div class="form-container">
                            <div class="form-box-input uso-vehiculo">
                                <label class="lbl-uso">Uso del veh&iacute;culo</label>
                                <div class="switch-item">                                    
                                    <div class="switch switch-2">
                                        <input class="switch-input" id="typeNewCase" name="typeCase" value="particular" type="radio" />
                                        <label class="switch-label" for="typeNewCase">PARTICULAR</label>
                                        <input class="switch-input" id="typeCaseJoined" name="typeCase" value="comercial" type="radio" />
                                        <label class="switch-label" for="typeCaseJoined">COMERCIAL</label><span
                                            class="switch-outside"></span><span class="switch-inside"></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-container" v-show="enviado==0">
                        <div class="form-box">
                            <button id="form-moto" type="button" v-on:click="saveform" class="btn btn-secondary">
                                COTIZAR
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- FIN FORMULARIO -->
        </section>
        <!-- LINKS -->
        <section class="links">
            <div class="container">
                <div class="links__card">
                    <div class="links__box">
                        <div class="links__box-logo">
                            <div class="links__box-logo-title">
                                <img alt="SURA ICON CORAZÓN"
                                    src="https://seguros.sura.cl/docs/default-source/landing-conductor-pro/sura-icon-corazon.svg?sfvrsn=2"
                                    class="heart" />
                                <img src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/logo-motos-color.svg"
                                    alt="Logo Seguro Motos" class="logo-motos" />
                            </div>
                            <p>Si te gust&oacute; este servicio, &iexcl;comp&aacute;rtelo!</p>
                        </div>
                        <div class="links__box-rrss">
                            <div class="links__box-rrss-icons">
                                <a id="hipotecario-rrss-twitter" class="links__box-rrss-icons-tw"
                                    href="https://twitter.com/SegurosSURAcl?lang=es" rel="noopener noreferrer"
                                    target="_blank">
                                    <img alt="SURA ICON TWITTER"
                                        src="https://seguros.sura.cl/docs/default-source/landing-conductor-pro/sura-icon-tw.svg?sfvrsn=2" />
                                </a>
                                <a id="hipotecario-rrss-facebook" class="links__box-rrss-icons-fb"
                                    href="https://www.facebook.com/SegurosSuraCL/" rel="noopener noreferrer"
                                    target="_blank">
                                    <img alt="SURA ICON FACEBOOK"
                                        src="https://seguros.sura.cl/docs/default-source/landing-conductor-pro/sura-icon-fb.svg?sfvrsn=2" />
                                </a>
                                <a id="hipotecario-rrss-whatsapp" class="links__box-rrss-icons-wa" href="https://api.whatsapp.com/send?phone=56994041806&amp;amp;amp;text=Hola
        Seguros SURA" rel="noopener
        noreferrer" target="_blank">
                                    <img alt="SURA ICON WHATSAPP"
                                        src="https://seguros.sura.cl/docs/default-source/landing-conductor-pro/sura-icon-wa.svg?sfvrsn=2" />
                                </a>
                            </div>
                            <div class="links__box-rrss-copy">
                                <a href="javascript:getlink();" id="hipotecario-copy-url">Copiar enlace</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CLIENTE-->
        <section class="cliente">
            <div class="container">
                <div class="cliente__title">
                    <h2>&iquest;Ya eres cliente?</h2>
                </div>
                <div class="cliente__wrap">
                    <div class="cliente__item" data-aos-duration="1000" data-aos="fade-up">
                        <div class="cliente__card">
                            <div class="cliente-card-header">
                                <img src="https://seguros.sura.cl/docs/default-source/m%C3%A1s-seguro-alto-costo/sura-icon-guia.svg?sfvrsn=2"
                                    alt="sura icon cliente guia de uso" />
                                <h5>Ver gu&iacute;a de uso <br />
                                    Seguro Motos</h5>
                            </div>
                            <div class="cliente-card-info">
                                <p>Revisa los detalles de uso de este seguro para estar informado a la hora de
                                    denunciar un siniestro.</p>
                                <a href="#" class="bn bn-br-aqua" target="_blank" rel="noopener noreferrer">Ver
                                    gu&iacute;a de uso</a>
                            </div>
                        </div>
                    </div>
                    <div class="cliente__item" data-aos-duration="1300" data-aos="fade-up">
                        <div class="cliente__card">
                            <div class="cliente-card-header">
                                <img src="https://seguros.sura.cl/docs/default-source/urgencias/sura-icon-ayuda.svg"
                                    alt="sura icon cliente centro de ayuda" />
                                <h5>Centro de <br />
                                    ayuda</h5>
                            </div>
                            <div class="cliente-card-info">
                                <p>Conoce nuestros servicios online y canales de atenci&oacute;n.</p>
                                <a href="https://seguros.sura.cl/ayuda" class="bn bn-br-aqua" target="_blank"
                                    rel="noopener noreferrer">ir
                                    a centro de ayuda</a>
                            </div>
                        </div>
                    </div>
                    <div class="cliente__item" data-aos-duration="1600" data-aos="fade-up">
                        <div class="cliente__card">
                            <div class="cliente-card-header">
                                <img src="https://seguros.sura.cl/docs/default-source/cpro-2021/sura-icon-online.svg"
                                    alt="sura icon cliente denunciar" />
                                <h5>Denunciar un <br />
                                    siniestro online</h5>
                            </div>
                            <div class="cliente-card-info">
                                <p>Si sufres un siniestro, puedes <strong>declararlo online sin salir de casa</strong>.
                                    Revisa lo
                                    necesario y hazle seguimiento.</p>
                                <a href="https://seguros.sura.cl/siniestros/vida" class="bn bn-br-aqua" target="_blank"
                                    rel="noopener noreferrer">ir
                                    a denunciar siniestro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- INTERES-->
        <section class="interes">
            <div class="container">
                <div class="row">
                    <div data-aos-duration="1000" data-aos="fade-right" class="interes-box">
                        <div class="interes-box-desc">
                            <h2 class="interes-box-desc__title">Seguros relacionados</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interes-box-cards">
                <!-- FAMILIA SEGURA-->
                <div data-aos-duration="1000" data-aos="fade-up" onclick="location.href='/movilidad/familia-segura';"
                    class="interes-box-cards-item card-img familia-segura">
                    <div class="interes-box-cards__desc">
                        <h5>Seguro <br />
                            Familia Segura</h5>
                        <p>Seguro de Micromovilidad familiar que te protege a ti y a tu familia, junto con la
                            bicicleta, scooter o patines.</p>
                        <div class="interes-box-cards__arrow">&nbsp;</div>
                    </div>
                </div>
                <!-- SEGURO MAS URGENCIA-->
                <div data-aos-duration="1300" data-aos="fade-up"
                    onclick="location.href='/vida-salud/clinicauandes/seguro-urgencia';"
                    class="interes-box-cards-item card-img ur">
                    <div class="interes-box-cards__desc">
                        <h5>Seguro <br />
                            M&aacute;s Seguro Urgencias</h5>
                        <p>Te protege ante un accidente o enfermedad que requiera el uso de sala de urgencias
                            incluyendo ex&aacute;menes, im&aacute;genes y procedimientos.
                        </p>
                        <div class="interes-box-cards__arrow">&nbsp;</div>
                    </div>
                </div>
                <!-- SEGURO VIVE -->
                <div data-aos-duration="1600" data-aos="fade-up"
                    onclick="location.href='/vida-salud/seguro-vive-hospitalario';"
                    class="interes-box-cards-item card-img hospitalario">
                    <div class="interes-box-cards__desc">
                        <h5>Seguro <br />
                            Hospitalario</h5>
                        <p>Respalda econ&oacute;micamente a tus beneficiarios en caso de fallecimiento.</p>
                        <div class="interes-box-cards__arrow">&nbsp;</div>
                    </div>
                </div>
            </div>
        </section>
        <!--  LEAD -->
        <section class="container-fluid marcas">
            <div class="container">
                <div class="cotizador-fix fixed">
                    <a target="_blank" rel="noopener noreferrer" class="bn bn-yellow" id="cotizarLinkFixed">COTIZAR</a>
                    <div class="cotizador-fix-content">
                        <img alt="LOGO SEGURO MOTOS"
                            src="https://seguros.sura.cl/docs/default-source/landing-seguro-motos-2020/logo-motos-color.svg" />
                        <p>Cotiza ahora tu <br />
                            <strong>Seguro Motos</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- LEGAL-->
        <section class="legal">
            <div class="container">
                <div class="legal-box">
                    <div class="legal-box-desc">
                        <p class="extra-small">POL120130172 <br />
                            Este seguro cubre da&ntilde;os al hogar tales como incendio, robo, rotura de cristales,
                            responsabilidad civil familiar y accidentes personales. La empresa aseguradora es
                            Seguros Generales Suramericana SA bajo el RUT 99.017.000-2. Las condiciones generales
                            que rigen estos seguros se encuentran depositadas en la Comisi&oacute;n para el Mercado
                            Financiero www.cmfchile.cl bajo el c&oacute;digo POL120130172. Forma de pago disponible:
                            Pago
                            autom&aacute;tico con tarjeta (PAT).</p>
                    </div>
                </div>
            </div>
        </section>
    </div>