/*FORMULARIO*/

.fixed-btn-top.btn-submit {
  font-size: 16px;
  letter-spacing: 1px;
  width: 180px;
  transition: all 0.3s ease;
}

.fixed-btn-top.btn-submit:hover {
  transition: all 0.3s ease;
}

a.button, .button {
  width: 100%;
  max-width: 210px;
  height: 50px;
  margin: 20px auto;
  padding: 15px 8px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

input[placeholder]::-webkit-input-placeholder {
  color: #dedede;
}

input::-webkit-input-placeholder {
  color: #dedede;
}

input:-moz-placeholder {
  color: #dedede;
}

input::-moz-placeholder {
  color: #dedede;
}

input:-ms-input-placeholder {
  color: #dedede;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: flex-start;
}

.section-formulario {
  background-color: #ECF0F1;
  padding: 30px 0px;
}

.section-formulario .container {
  display: flex;
  flex-direction: column;
}

.form-title {
  display: block;
  margin: 0 auto;
}

.form-title h2 {
  font-weight: 700 !important;
  color: #0033a0;
  text-align: center;
}

.form-box {
  height: 70px;
  display: flex;
  align-items: center;
}

.important {
  width: 550px;
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(0, 51, 160, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.important p {
  max-width: 100%;
  color: #0033A0;
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.4;
  margin-left: 1rem;
}

.form-box {
  height: 95px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.form-box label {
  width: 100%;
  padding-left: 1rem;
  color: #0033A0;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.form-box input, .form-box select {
  height: 55px;
  margin: 0;
  padding: 0 15px;
  border-radius: 30px;
  border: none;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

.form-box input.form-input.rut {
  max-width: 220px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control input::placeholder {
  background-color: #fff !important;
}

input:focus, select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.requerido {
  margin: 5px 0px 0px 15px;
  color: #E4002B;
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 14px;
}

.box-boton {
  height: auto;
  display: flex;
  justify-content: center;
}

/* MENSAJE ERROR*/

.field-validation-valid {
  visibility: hidden;
  height: 15px;
}

.message-error, .field-validation-error {
  color: red;
  margin-left: 20px;
  text-align: left;
  font-size: 12px;
  height: 15px;
  visibility: visible;
}

/* Mensaje Exito */

.message-success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
}

.message-success img {
  max-width: 50px;
}

.message-success h3 {
  color: #0033a0;
  text-align: center;
  font-size: 22px;
}

.message-success p {
  text-align: center;
  font-size: 16px;
  color: #0033a0;
}

ul.legal-text {
  font-size: 12px;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 2rem;
  padding-inline-start: 40px;
}

.sura-wrap ul.legal-text li {
  min-height: 15px;
}

.sura-wrap ul.legal-text li::before {
  content: "\2022";
  color: #00AEC7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media(max-width:991px) {
  .important {
      margin: 0 auto;
  }
  .form-group button.bn.bn-yellow {
      margin: 1rem 0;
  }
}

@media(max-width:560px) {
  .form-box {
      height: auto;
  }
  .important {
      max-width: 500px;
      height: auto;
  }
  .important img {
      margin-right: 10px;
  }
}

/*the container must be positioned relative:*/

.custom-select {
  width: 100%;
  position: relative;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  z-index: 100;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.custom-select label {
  color: #0033A0 !important;
}

@media screen and (max-width: 768px) {
  .custom-select {
      width: 100%;
  }
}

.select-selected {
  background-color: #00AEC7;
  position: relative;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 15px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #808080 transparent transparent transparent;
}

.select-items div, .select-selected {
  color: #6d6d6d;
  font-weight: 400;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  height: 55px;
  font-size: 16px;
}

.select-selected {
  color: #6d6d6d;
  background-color: white;
  border-radius: 50px;
  animation: animateDisplay 0.3s ease;
  border: 2px solid #ededed;
}

/*style items (options):*/

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: animateDisplay 0.2s ease;
}

/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
  animation: animateDisplay 0.2s ease;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 174, 199, 0.08);
  color: #5d5d5d;
}

.select-selected.select-arrow-active {
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 2px solid #00AEC7;
  color: #5d5d5d;
}

.select-selected.select-arrow-active:before {
  content: "";
  background: white;
  height: 30px;
  width: 101.2%;
  position: absolute;
  background-size: 100%;
  top: 25px;
  z-index: -1;
  left: -2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #6d6d6d transparent;
  top: 10px;
}

@media screen and (max-width: 575px) {
  .form-box-input {
      width: 100%;
      padding: 0;
  }
  .select-selected.select-arrow-active:before {
      width: 100.9%;
  }
}

input:i-block-chrome {
  color: #dedede;
}

input[placeholder]::-webkit-input-placeholder {
  color: #dedede;
}

input::-webkit-input-placeholder {
  color: #dedede;
}

input:-moz-placeholder {
  color: #dedede;
}

input::-moz-placeholder {
  color: #dedede;
}

input:-ms-input-placeholder {
  color: #dedede;
}

.form-group input.form-control {
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group input.form-control, input:focus, .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

@keyframes animateDisplay {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}