.tab-pane{
    width: 90%;
    margin-left: 10%;
}
@media (min-width: 1200px){
    .tab-pane{
        width: 100%;
        margin-left: 0%;
    }  
}
.panel {
    border-color: transparent;
    box-shadow: none;
}
.panel .panel-heading{
    background-color: transparent;
    border-color: transparent;
    border-top: 1px solid #f4f4f4;
    border-bottom: none;
}


.panel .panel-heading a{
    position: relative;
}

.panel .panel-heading a:after{
    position: absolute;
    content: "â¯";
    font-size: 14px;
    top: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #00AEC7;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: #00D7E5;
    transform: rotate(0deg);
    background: #fff;
    transition: all .5s ease;
}

.panel .panel-heading[aria-expanded="true"] a{
    font-weight: bold;
}

.panel .panel-heading[aria-expanded="true"] a:after{
    background: #00D7E5;
    border: 2px solid transparent;
    color: #fff;
    transform: rotate(90deg);
    transition: all .5s ease;
}

.panel .panel-heading a{
    font-size: 14px;
    color: #333;
}

.panel-group .panel-heading+.panel-collapse>.list-group, 
.panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}

.panel-body{
    color: #333;
}

.sura-wrap h2, .sura-wrap .h2{
    font-weight: bold;
    font-size: 18px;
    color: #0033A0;
    margin-top: 40px;
}

.slim{
    font-weight: 300;
}

