@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "FS Joey";
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FS Joey";
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.sura-wrap .nuevo-wrap {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  padding: 0;
  position: relative;
}

.sura-wrap .nuevo-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.sura-wrap .nuevo-wrap .container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/cobranzas.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 203px;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sura-wrap .nuevo-wrap .container .banner h2 {
  color: #fff;
  font: normal 700 42px/46px "FS Joey", sans-serif;
  margin: 0 0 0 4rem;
}

.sura-wrap .nuevo-wrap section {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sura-wrap .nuevo-wrap section h3 {
  font: normal 700 28px/33.6px "Barlow", sans-serif;
  color: #0033a0;
  margin-bottom: 2rem;
}

.sura-wrap .nuevo-wrap section .fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  max-width: 792px;
  height: 100px;
  margin-bottom: 1.5rem;
}

.sura-wrap .nuevo-wrap section .fila .icono {
  width: 11%;
  min-width: 60px;
}

.sura-wrap .nuevo-wrap section .fila .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  min-width: 220px;
  height: 50px;
  margin-left: 1rem;
}

.sura-wrap .nuevo-wrap section .fila .info h4 {
  color: #0033a0;
  font: normal 700 22px/26px "Barlow", sans-serif;
  margin-bottom: 0.5rem;
}

.sura-wrap .nuevo-wrap section .fila .info p {
  color: #00aec7;
  font: normal 700 13px/15.6px "Barlow", sans-serif;
}

.sura-wrap .nuevo-wrap section .fila .detalles {
  min-width: 165px;
}

.sura-wrap .nuevo-wrap section .fila .detalles a {
  width: 120px;
  min-width: 120px;
  border: solid 2px #0033a0;
  font: normal 700 16px/19.2px "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.06px;
  padding: 10px 15px;
  border-radius: 50px;
  color: #0033a0 !important;
}

.sura-wrap .nuevo-wrap section .fila .detalles a:hover {
  background-color: #0033a0;
  color: #fff !important;
}

@media (max-width: 950px) {
  .banner {
    margin-top: 5rem !important;
  }
}

@media (max-width: 600px) {
  .container {
    min-width: 300px !important;
  }
  .banner {
    background-position: center left !important;
    background-image: url(../images/cobranzas-mobile.png) !important;
  }
  .banner h2 {
    font: normal 700 28px/36px "FS Joey", sans-serif !important;
    margin: 0 0 0 1.5rem !important;
  }
  section h3 {
    font: normal 700 24px/26px "Barlow", sans-serif !important;
  }
  .fila {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    height: 250px !important;
    min-width: 300px;
    text-align: center;
  }
  .fila .icono {
    margin-top: 1rem;
  }
  .fila .info {
    margin: 2rem;
  }
  .fila .detalles {
    margin-bottom: 1rem !important;
  }
  .fila .detalles a {
    font: normal 700 14px/16px "Barlow", sans-serif !important;
  }
  .fila h4 {
    font: normal 700 18px/26px "Barlow", sans-serif !important;
  }
}
/*# sourceMappingURL=main.css.map */