@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
.tracking .container-tracking .container-texto .box-formulario .boton-amarillo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 12px 26px;
  border-radius: 100px;
  letter-spacing: 1px;
  font: normal 700 16px/19px "Barlow", sans-serif;
  text-align: center;
  text-decoration: none;
}

.tracking .container-tracking .container-texto .box-formulario .boton-amarillo:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .tracking .container-tracking .container-texto .box-formulario .boton-amarillo {
    font-size: 16px;
    padding: 12px 16px;
  }
}

.tracking .container-tracking .container-texto .box-formulario .boton-amarillo {
  color: #0033A0;
  background-color: #E3E829;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tracking .container-tracking .container-texto .box-formulario .boton-amarillo:hover {
  color: #FFF;
  background-color: #0033A0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tracking {
  width: 100%;
  max-width: 1920px;
  margin: 2em auto;
  background: -webkit-gradient(linear, left top, right top, from(#edf0f1), color-stop(40%, #edf0f1), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #edf0f1 0%, #edf0f1 40%, #fff 40%, #fff 100%);
}

.tracking .container-tracking {
  width: 100%;
  max-width: 1200px;
  margin: 2em auto;
  background: -webkit-gradient(linear, left top, right top, from(#edf0f1), color-stop(50%, #edf0f1), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(to right, #edf0f1 0%, #edf0f1 50%, #fff 50%, #fff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tracking .container-tracking .container-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  max-width: 350px;
}

.tracking .container-tracking .container-texto .titulo-tracking {
  font: normal 700 36px/39.6px "FS Joey", sans-serif !important;
  color: #0033A0;
  margin: 1em 0;
}

.tracking .container-tracking .container-texto .parrafo-tracking {
  font: normal 500 18px/20px "Barlow", sans-serif;
  color: #53565A;
  margin: 1em 0;
}

.tracking .container-tracking .container-texto .box-formulario {
  width: 100%;
  max-width: 330px;
}

.tracking .container-tracking .container-texto .box-formulario .label-rut {
  color: #0033a0;
  font: normal 400 12px/14.4px "Barlow", sans-serif;
  margin-left: 32px;
}

.tracking .container-tracking .container-texto .box-formulario .box-input-rut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
}

.tracking .container-tracking .container-texto .box-formulario .box-input-rut .input-rut {
  width: 250px;
  height: 55px;
  padding-left: 25px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #ecf0f1 !important;
}

.tracking .container-tracking .container-texto .box-formulario .box-input-rut span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  margin: 0 5px;
}

.tracking .container-tracking .container-texto .box-formulario .box-input-rut .dv-rut {
  width: 80px;
  height: 55px;
  padding-left: 35px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #ecf0f1 !important;
}

.tracking .container-tracking .container-texto .box-formulario .label-patente {
  color: #0033a0;
  font: normal 400 12px/14.4px "Barlow", sans-serif;
  margin-left: 32px;
}

.tracking .container-tracking .container-texto .box-formulario .input-patente {
  display: block;
  font-family: 'Ubuntu Mono', monospace !important;
  border-radius: 5px;
  width: 280px;
  height: 72px;
  font-size: 48px;
  padding: 0;
  letter-spacing: 7px;
  font-weight: 700;
  position: relative;
  border: 2px solid transparent !important;
  color: #0033a0;
  background: url(https://www.segurossura.cl/docs/default-source/soap19/patente-bg.png) no-repeat center center;
  background-size: contain;
  text-align: left;
  padding-bottom: 18px;
  padding-left: 25px;
  float: initial;
  margin-bottom: 10px;
}

.tracking .container-tracking .container-texto .box-formulario .boton-amarillo {
  margin: 3rem 0;
  padding: 12px 45px;
  position: relative;
}

.tracking .container-tracking .container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  max-width: 600px;
  background-color: cornflowerblue;
  min-height: 400px;
}

.sura-loader {
  border: 3px solid #F3F3F3;
  border-top-color: #f3f3f3;
  border-top-style: solid;
  border-top-width: 3px;
  border-top: 3px solid #00AEC7;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  top: 25%;
  right: 5%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 1199px) {
  .sura-loader {
    top: 18px;
    right: 45px;
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 991px) {
  .sura-loader {
    top: 80px;
    right: 40%;
    width: 22px;
    height: 22px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 768px) {
  .sura-loader {
    top: 140px;
    right: 37%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/* END SURA LOADER */
/*# sourceMappingURL=style.css.map */