@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
#preheader,
.sura-wrap header,
footer {
  display: none !important;
}

.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-suscribete, .yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-borde-azul, .yapp-details-box .yapp-details-box__item .imagen-card .foot-card .boton-azul {
  width: max-content;
  height: auto;
  padding: 12px 26px;
  border-radius: 100px;
  letter-spacing: 1px;
  font: normal 700 16px/19px "Barlow", sans-serif;
  text-align: center;
  text-decoration: none;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-suscribete:hover, .yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-borde-azul:hover, .yapp-details-box .yapp-details-box__item .imagen-card .foot-card .boton-azul:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-suscribete, .yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-borde-azul, .yapp-details-box .yapp-details-box__item .imagen-card .foot-card .boton-azul {
    font-size: 16px;
    padding: 12px 16px;
  }
}

.yapp-details-box .yapp-details-box__item .imagen-card .foot-card .boton-azul {
  color: #fff;
  background-color: #0033a0;
  transition: all 0.3s ease;
}
.yapp-details-box .yapp-details-box__item .imagen-card .foot-card .boton-azul:hover {
  color: #0033a0;
  background-color: #e3e829;
  transition: all 0.3s ease;
}

.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-borde-azul {
  color: #0033a0;
  background-color: #fff;
  transition: all 0.3s ease;
  border: 2px solid #0033a0;
  height: 48px;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-borde-azul:hover {
  transition: all 0.3s ease;
  background-color: #d3e1ff;
}

.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-suscribete {
  color: #fff;
  border-radius: 8px;
  background-color: #E4002B;
  transition: all 0.3s ease;
  border: 2px solid #E4002B;
  height: 48px;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones .boton-suscribete:hover {
  transition: all 0.3s ease;
  color: #fff;
  background-color: #bb0023;
  border: 2px solid #bb0023;
}

body {
  overflow-x: hidden;
}

.yapp-col,
.yapp-row,
.yapp-dudas-img,
.yapp-dudas-call__title,
.yapp-dudas-call,
.yapp-dudas,
.yapp-farmacias-call__title,
.yapp-farmacias-call,
.yapp-farmacias,
.yapp-comprar-info,
.yapp-comprar-box-desc,
.yapp-comprar-box,
.yapp-comprar-call__title,
.yapp-comprar-call,
.yapp-comprar,
.yapp-details-box__item h4,
.yapp-details-call__title,
.yapp-details-call,
.yapp-details,
.yapp-ahorra-img,
.yapp-ahorra-call__title,
.yapp-ahorra-call,
.yapp-ahorra,
.yapp-header-img,
.yapp-header-call__title,
.yapp-header-call__logo,
.yapp-header-call,
.yapp-header,
.tab__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: FS Joey;
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: FS Joey;
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
.ymt-1-auto {
  margin: 1rem auto;
}

.ymb-2 {
  margin-bottom: 2rem;
}

.w-100 {
  width: 100%;
}

.btn-desk {
  display: block;
}

.btn-mob {
  display: none;
}

@media (max-width: 768px) {
  .btn-desk {
    display: none;
  }

  .btn-mob {
    display: block;
  }
}
.yapp-comprar-btn,
.yapp-header-call__btn {
  width: max-content;
  height: 48px;
  padding: 12px 26px;
  border-radius: 100px;
  letter-spacing: 1px;
  font: normal 700 18px/1.2 "Barlow", sans-serif;
  text-align: center;
  text-decoration: none;
}

.yapp-comprar-btn:hover,
.yapp-header-call__btn:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .yapp-comprar-btn,
.yapp-header-call__btn {
    font-size: 16px;
    padding: 12px 16px;
  }
}
.yapp-comprar-btn:before {
  content: "";
  position: absolute;
  background: url(/docs/default-source/landing-yapp/icon-arrow.svg?sfvrsn=8d55326d_2) no-repeat center center;
  background-size: 24px;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .yapp-comprar-btn:before {
    background-size: 18px;
    width: 18px;
    height: 20px;
  }
}
.yapp-header-call__btn {
  color: #0033a0;
  background-color: #e3e829;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.yapp-header-call__btn:hover {
  color: #0033a0;
  background-color: white;
  transition: all 0.3s ease;
  border: 2px solid #fff;
}

.yapp-comprar-btn {
  color: #0033a0;
  background-color: #fff;
  transition: all 0.3s ease;
  border: 2px solid #0033a0;
  padding-left: 3rem;
}

.yapp-comprar-btn:before {
  left: 1rem;
}

.yapp-comprar-btn:hover {
  transition: all 0.3s ease;
  background-color: #d3e1ff;
}

.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0px 2px 30px #e0e5f0;
}

@media (max-width: 768px) {
  .tab-wrap {
    margin: 1rem auto;
  }
}
.yapp-details {
  flex-direction: column;
  width: 100%;
  max-width: 1199px;
  position: relative;
  margin: 0 auto 3rem;
}
.yapp-details::before {
  content: "";
  position: absolute;
  background: url(/docs/default-source/landing-yapp/icon-circle-cyan.svg?sfvrsn=d255326d_2) no-repeat center center;
  background-size: auto;
  width: 90px;
  height: 120px;
  top: 6em;
  left: -9rem;
  opacity: 0.6;
}
.yapp-details::after {
  content: "";
  position: absolute;
  background: url(/docs/default-source/landing-yapp/icon-circle-cyan.svg?sfvrsn=d255326d_2) no-repeat center center;
  background-size: auto;
  width: 90px;
  height: 120px;
  top: 6em;
  right: -9rem;
  opacity: 0.6;
}
.yapp-details .yapp-details-call {
  flex-direction: column;
  width: 100%;
}
.yapp-details .yapp-details-call .yapp-details-call__title {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0 6rem;
  padding: 2rem 0 0;
  color: #0033a0;
  font: normal 700 36px/39.6px "FS Joey", serif !important;
  text-align: center;
}
.yapp-details .yapp-details-call .yapp-details-call__title::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00aec7;
  top: 0;
  border-radius: 16px;
}

.yapp-details-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3em;
  height: 100%;
  max-width: 1199px;
  position: relative;
  margin: 0 auto;
  padding: 3rem 2rem 4rem;
}
.yapp-details-box .yapp-details-box__item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 30px #e0e5f0;
  max-width: 373px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.yapp-details-box .yapp-details-box__item .imagen-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: 0px 9px 31px rgba(0, 45, 84, 0.13);
  position: relative;
}
.yapp-details-box .yapp-details-box__item .imagen-card .head-card {
  width: 353px;
  height: 250px;
  position: relative;
}
.yapp-details-box .yapp-details-box__item .imagen-card .head-card::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 65px;
  background-image: url(/docs/default-source/sucursal-virtual-vida/play-video.svg?sfvrsn=63867f52_2);
  background-repeat: no-repeat;
  background-position: center center;
  top: calc((100% - 65px) / 2);
  left: calc(50% - 33px);
}
.yapp-details-box .yapp-details-box__item .imagen-card .head-card img {
  width: 100%;
  height: 100%;
  align-self: center;
}
.yapp-details-box .yapp-details-box__item .imagen-card .foot-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;
}
.yapp-details-box .yapp-details-box__item .imagen-card .foot-card .title-img-sucursal {
  font: normal 700 22px/29px "Barlow", sans-serif !important;
  color: #0033a0;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  max-width: 270px;
}
.yapp-details-box .yapp-details-box__item .imagen-card .foot-card .title-img-sucursal::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 56px;
  background: #00aec7;
  border-radius: 2px;
  left: -1em;
  top: 0;
}
.yapp-details-box .yapp-details-box__item .imagen-card::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 58px;
  background-color: #fff;
  background-image: url(/docs/default-source/sucursal-virtual-vida/youtube.svg?sfvrsn=91477f52_2);
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 9px 31px rgba(0, 45, 84, 0.13);
  top: -2em;
  left: calc(50% - 29px);
}

@media (max-width: 768px) {
  .yapp-details-call__title {
    font-size: 32px;
    margin: 1rem 0;
  }

  .yapp-details-call__title:before {
    bottom: 3rem;
  }
}
.yapp-comprar {
  flex-direction: column;
  width: 100%;
  max-width: 1199px;
  position: relative;
  margin: 0 auto 3rem;
  padding-bottom: 2rem;
}

.yapp-comprar-call {
  flex-direction: column;
  width: 100%;
}

.yapp-comprar-call__title {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 2rem;
  padding: 2rem 0 0;
  color: #0033a0;
  font: normal 700 42px/1 "FS Joey", serif;
  text-align: center;
}

.yapp-comprar-call__title:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00aec7;
  bottom: 3.5rem;
  border-radius: 16px;
}

.yapp-comprar-box {
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3rem 3rem 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 30px #e0e5f0;
}

.yapp-comprar-box-desc {
  align-items: flex-start;
  flex-direction: column;
  max-width: 55%;
}

.yapp-comprar-box-desc li {
  margin-bottom: 1rem;
  position: relative;
  color: #53565a;
  font-family: "Barlow", sans-serif;
}

.yapp-comprar-box-desc li::marker {
  color: #00aec7;
  font-weight: 700;
}

.yapp-comprar-info {
  width: 100%;
  max-width: 768px;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: rgba(0, 174, 199, 0.1);
  border-radius: 4px;
}

.yapp-comprar-info img {
  width: 18px;
}

.yapp-comprar-info p {
  color: #0033a0;
  font: normal 400 12px/1 "Barlow", sans-serif;
  text-align: left;
}

.yapp-comprar-btn {
  position: relative;
}

.yapp-comprar-box-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .yapp-comprar .yapp-row {
    flex-direction: column;
    width: 100%;
  }

  .yapp-comprar-call__title {
    margin: 1rem auto;
    padding: 1rem 0 0;
    font-size: 32px;
  }

  .yapp-comprar-box {
    padding: 2rem;
  }

  .yapp-comprar-box-desc {
    max-width: 100%;
    padding-left: 2rem;
  }
}
@media (max-width: 575px) {
  .yapp-comprar-box {
    padding: 2rem 1rem;
  }

  .yapp-comprar-box-desc li {
    font-size: 16px;
  }

  .yapp-comprar-info {
    padding: 0.5rem;
    gap: 0.5rem;
  }
}
.yapp {
  width: 100%;
  height: 100%;
}

.yapp .container-fluid {
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .yapp .container-fluid {
    padding: 0 0.5rem;
  }
}
.yapp-row {
  gap: 2rem;
}

.yapp-col {
  flex-direction: column;
  gap: 2rem;
}

.yapp .container {
  width: 100%;
  max-width: 1199px;
  padding: 0;
  margin: auto;
}
.yapp .container .yapp-ahorra {
  max-width: 1000px;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin: 3rem auto;
}
.yapp .container .yapp-ahorra::before {
  content: "";
  position: absolute;
  background: url(/docs/default-source/landing-yapp/icon-circle-cyan.svg?sfvrsn=d255326d_2) no-repeat center center;
  background-size: auto;
  width: 90px;
  height: 120px;
  top: 0;
  left: -15rem;
  opacity: 0.6;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__subtitle {
  font: normal 700 22px/26.4px "Barlow", sans-serif !important;
  color: #0033a0;
  position: relative;
  margin: 2rem 0 0;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__subtitle span {
  color: #00aec7;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__subtitle::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00aec7;
  top: -1rem;
  border-radius: 16px;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call #yapp-ahorra-call__title {
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  margin: 2rem 0 3rem;
  color: #0033a0;
  font: normal 700 42px/46px "FS Joey", sans-serif !important;
  text-align: left;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__desc {
  font: normal 400 18px/26px "Barlow", sans-serif;
  color: #53565a;
  max-width: 458px;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
.yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}
.yapp .container .yapp-ahorra .yapp-ahorra-img {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}
.yapp .container .yapp-ahorra .yapp-ahorra-img img {
  width: 100%;
}

@media (max-width: 850px) {
  .yapp .container .yapp-ahorra {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call {
    justify-content: center;
    align-items: center;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__subtitle {
    font-size: 22px;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__subtitle::before {
    left: calc(50% - 24px);
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call #yapp-ahorra-call__title {
    text-align: center;
    align-items: center;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__desc {
    text-align: center;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones {
    justify-content: center;
    gap: 25px;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-img {
    max-width: 575px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  .yapp .container .yapp-ahorra {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__subtitle {
    font-size: 22px;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call #yapp-ahorra-call__title {
    font-size: 32px !important;
    margin-bottom: 1rem;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .yapp-ahorra-call__desc {
    font-size: 16px !important;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-call .box-botones {
    gap: 25px;
    flex-direction: column;
    align-items: center;
  }
  .yapp .container .yapp-ahorra .yapp-ahorra-img {
    max-width: 575px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 1199px) {
  .yapp .container {
    padding: 0 1rem;
  }
}
@media (max-width: 575px) {
  .yapp .container {
    padding: 0 0.5rem;
  }
}
.yapp .bg-banner {
  background: #00aec7;
  background: linear-gradient(250deg, #00aec7 0%, #0033a0 44%);
}

.bg-light {
  background: linear-gradient(to top, #fff 0, #fff 25%, #ecf0f1 25%, #ecf0f1 100%);
}

.yapp .bg-light-invert {
  background: linear-gradient(to bottom, #fff 0, #fff 65%, #ecf0f1 65%, #ecf0f1 100%);
}

@media (max-width: 950px) {
  .yapp {
    padding-top: 104px;
  }
}
.cotizador-online {
  display: none !important;
}

@media (max-width: 950px) {
  .yapp-details:before,
.yapp-ahorra:before,
.yapp-farmacias:before,
.yapp-farmacias:after {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */