@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "FS Joey";
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FS Joey";
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.sura-wrap .nuevo-wrap {
  width: 100%;
  height: 100%;
  padding: 0;
}

.sura-wrap .nuevo-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;
}

.sura-wrap .nuevo-wrap .separador {
  margin-top: 2rem;
  width: 42px;
  height: 1px;
  border: solid 2px #00aec7;
  background-color: #00aec7;
  border-radius: 10px;
}

.sura-wrap .nuevo-wrap h4 {
  color: #0033a0;
  font: normal 700 36px/39.6px "FS Joey", sans-serif !important;
}

.sura-wrap .nuevo-wrap .bn {
  display: block;
  width: 100%;
  height: 48px;
  padding: 14px 32px;
  border-radius: 40px;
  border: 2px solid transparent;
  font: text(700, 16px, "Barlow", sans-serif) !important;
  line-height: 16px;
  letter-spacing: 1.08px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.sura-wrap .nuevo-wrap .bn:focus {
  outline: none;
}

.sura-wrap .nuevo-wrap .bn.bn-sm {
  max-width: 400px;
}

.sura-wrap .nuevo-wrap .bn.bn-primario {
  background: #0033a0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sura-wrap .nuevo-wrap .bn.bn-primario:hover {
  background: #e3e829;
  color: #0033a0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sura-wrap .nuevo-wrap .bn.bn-primario:hover::before {
  -webkit-filter: invert(14%) sepia(84%) saturate(3464%) hue-rotate(219deg) brightness(88%) contrast(106%);
          filter: invert(14%) sepia(84%) saturate(3464%) hue-rotate(219deg) brightness(88%) contrast(106%);
}

.sura-wrap .nuevo-wrap .bn.bn-secundario {
  background: #00aec7;
  color: #fff;
}

.sura-wrap .nuevo-wrap .bn.bn-secundario:hover {
  background: #0033a0;
}

.sura-wrap .nuevo-wrap .bn.bn-yellow {
  background: #e3e829;
  color: #0033a0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sura-wrap .nuevo-wrap .bn.bn-yellow:hover {
  background: #0033a0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sura-wrap .nuevo-wrap .bn.bn-yellow:hover::before {
  -webkit-filter: invert(100%) sepia(100%) saturate(94%) hue-rotate(165deg) brightness(110%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(94%) hue-rotate(165deg) brightness(110%) contrast(100%);
}

.sura-wrap .nuevo-wrap .bn.bn-br-primario {
  border: 2px solid #0033a0;
  color: #0033a0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sura-wrap .nuevo-wrap .bn.bn-br-primario:hover {
  background: rgba(0, 51, 160, 0.15);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sura-wrap .nuevo-wrap .bn.bn-br-secundario {
  border: 2px solid #00aec7;
  color: #00aec7;
}

.sura-wrap .nuevo-wrap .bn.bn-br-secundario:hover {
  background: rgba(0, 174, 199, 0.15);
}

.sura-wrap .nuevo-wrap .bn.bn-br-white {
  border: 2px solid #fff;
  color: #fff;
}

.sura-wrap .nuevo-wrap .bn.bn-br-white:hover {
  background: #fff;
  color: #0033a0;
}

.sura-wrap .nuevo-wrap .bn.bn-icon {
  padding-left: 60px;
}

.sura-wrap .nuevo-wrap .bn.bn-xs {
  max-width: 227px;
  border: 2px solid #0033a0;
  color: #0033a0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sura-wrap .nuevo-wrap .bn.bn-xs:hover {
  background: rgba(0, 51, 160, 0.15);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sura-wrap .nuevo-wrap .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1199px;
}

.sura-wrap .nuevo-wrap .hero .hero-text {
  width: 50%;
  margin: 2rem 2rem 2rem 3rem;
}

.sura-wrap .nuevo-wrap .hero .hero-img {
  margin: 2rem;
}

.sura-wrap .nuevo-wrap .hero .hero-img img {
  width: 100%;
}

.sura-wrap .nuevo-wrap .hero h2 {
  font: normal 700 60px/66px "FS Joey", sans-serif !important;
  color: #0033a0;
  margin-bottom: 2rem;
}

.sura-wrap .nuevo-wrap .hero h3 {
  font: normal 500 48px/52.8px "FS Joey", sans-serif !important;
  color: #00aec7;
}

.sura-wrap .nuevo-wrap .hero p {
  font: normal 400 22px/26px "Barlow", sans-serif !important;
  color: #53565a;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro {
  width: 100%;
  text-align: center;
  background-color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1199px;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row {
  width: 100%;
  max-width: 1199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .titulo-bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 950px;
  margin-bottom: 2rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .titulo-bloque h4 {
  margin: 2rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .titulo-bloque p {
  color: #53565a;
  font: normal 400 18px/26px "Barlow", sans-serif !important;
  margin: 2rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .cards-bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .cards-bloque .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  max-width: 483px;
  padding: 2rem;
  margin-bottom: -4rem;
  z-index: 1;
  margin-left: 2rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .cards-bloque .card .icono-card {
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  background-color: #fff;
  border-radius: 50%;
  margin-top: -5rem;
  width: 110px;
  height: 110px;
  padding-top: 15px;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .cards-bloque .card .icono-card img {
  display: inline !important;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .cards-bloque .card h5 {
  color: #0033a0;
  font: normal 700 28px/33.6px "Barlow", sans-serif !important;
  margin: 1rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .bloque-siniestro .row .cards-bloque .card p {
  color: #53565a;
  font: normal 400 16px/26px "Barlow", sans-serif !important;
  margin: 1rem;
  text-align: left;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .legal-siniestro {
  padding-top: 6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .legal-siniestro .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 0;
  max-width: 970px;
  background: rgba(0, 174, 199, 0.5);
  padding: 1rem 2rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .legal-siniestro .row .icono-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: auto;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .legal-siniestro .row .icono-legal img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80%;
  margin-right: 1rem;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro .legal-siniestro .row .info-legal {
  width: 90%;
  text-align: left;
  color: #0033a0;
  background: rgba(0, 174, 199, 0);
}

.sura-wrap .nuevo-wrap .denunciar-siniestro::before {
  content: "";
  position: absolute;
  background-image: url(/docs/default-source/landing-info-siniestros/circles.svg?sfvrsn=49b4c66c_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  top: 550px;
  left: 0;
}

.sura-wrap .nuevo-wrap .denunciar-siniestro::after {
  content: "";
  position: absolute;
  background-image: url(/docs/default-source/landing-info-siniestros/circles.svg?sfvrsn=49b4c66c_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  top: 420px;
  right: 0;
}

.sura-wrap .nuevo-wrap .guia-siniestro {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama {
  width: 30%;
  height: auto;
  background-color: #ecf0f1;
  border-radius: 16px;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama .dibujo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 4rem;
  width: 60%;
  height: 85%;
  border-top: solid 3px #00aec7;
  border-right: solid 3px #00aec7;
  border-bottom: solid 3px #00aec7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama .dibujo .img-linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama .dibujo .img-circulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama .dibujo .img-circulos .img-circulo {
  border: solid 3px #00aec7;
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 1rem -4.5rem 1rem 0;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ecf0f1;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama .dibujo .img-circulos .img-circulo img {
  width: 85%;
}

.sura-wrap .nuevo-wrap .guia-siniestro .diagrama .dibujo::before {
  content: "";
  position: absolute;
  background-image: url(/docs/default-source/landing-info-siniestros/circles.svg?sfvrsn=49b4c66c_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  top: 780px;
  left: 10px;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 75%;
  height: 100%;
  padding: 4rem;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro h4 {
  width: 50%;
  margin-bottom: 2rem;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro h4::after {
  content: "";
  width: 40px;
  border-radius: 2rem;
  border-top: 4px solid #00aec7;
  position: absolute;
  top: 2rem;
  left: 4rem;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro .row {
  width: 75%;
  margin-bottom: 1rem;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro .row h5 {
  color: #00aec7;
  font: italic 700 22px/26.4px "Barlow", sans-serif !important;
  margin-bottom: 1rem;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro .row p {
  color: #53565a;
  font: normal 400 18apx/26px "Barlow", sans-serif !important;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro .row .texto-legal {
  font: italic 300 13px/15.6px "Barlow", sans-serif !important;
  margin: 2rem 0;
}

.sura-wrap .nuevo-wrap .guia-siniestro .quehacer-siniestro::before {
  content: "";
  position: absolute;
  background-image: url(/docs/default-source/landing-info-siniestros/circles.svg?sfvrsn=49b4c66c_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  top: 40px;
  right: 10px;
}

.sura-wrap .nuevo-wrap a.bn-yellow::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url(/docs/default-source/landing-info-siniestros/arrow.svg?sfvrsn=d2b5c66c_3) no-repeat center center;
  background-size: 16px;
  position: absolute;
  left: 25px;
  top: 15px;
}

.sura-wrap .nuevo-wrap a.bn-primario::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url(/docs/default-source/landing-info-siniestros/download-blue.svg?sfvrsn=37b7c66c_3) no-repeat center center;
  background-size: 16px;
  position: absolute;
  left: 25px;
  top: 13px;
  -webkit-filter: invert(100%) sepia(100%) saturate(94%) hue-rotate(165deg) brightness(110%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(94%) hue-rotate(165deg) brightness(110%) contrast(100%);
}

.sura-wrap .nuevo-wrap a.bn-br-primario::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url(/docs/default-source/landing-info-siniestros/download-blue.svg?sfvrsn=37b7c66c_3) no-repeat center center;
  background-size: 16px;
  position: absolute;
  left: 25px;
  top: 13px;
}

.sura-wrap .nuevo-wrap .declaracion-jurada {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #ecf0f1;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container {
  width: 100%;
  max-width: 1199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 2rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-texto {
  width: 40%;
  position: relative;
  margin: 2rem 0;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-texto h4 {
  margin: 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-texto p {
  font: normal 400 22px/26px "Barlow", sans-serif !important;
  color: #53565a;
  margin: 1rem 2rem 1rem 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container h4::after {
  content: "";
  width: 40px;
  border-radius: 2rem;
  border-top: 4px solid #00aec7;
  position: absolute;
  top: 0rem;
  left: 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card {
  width: 50%;
  min-width: 550px;
  max-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  border-radius: 5px;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 3rem;
  bottom: -5rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-f {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-f .dj-card-simple {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-f .dj-card-simple .dj-card-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-f .dj-card-simple .dj-card-row h6 {
  font: normal 600 22px/26px "Barlow", sans-serif !important;
  color: #0033a0;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-f .dj-card-simple .dj-card-row .dj-card-icon {
  margin-right: 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-row:first-child {
  margin-bottom: 1rem;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card .dj-card-simple:first-child {
  border-right: solid 1px #ecf0f1;
}

.sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card h5 {
  color: #0033a0;
  font: normal 700 28px/33.6px "Barlow", sans-serif !important;
}

.sura-wrap .nuevo-wrap .estado {
  padding: 40px 0;
}

.sura-wrap .nuevo-wrap .estado .container {
  width: 100%;
  max-width: 1199px;
  height: 100%;
}

.sura-wrap .nuevo-wrap .estado .container .estado__card {
  max-width: 1008px;
  min-height: 386px;
  margin: 16px auto;
  padding: 40px 24px;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sura-wrap .nuevo-wrap .estado .container .estado__card .estado__card-image {
  max-width: 320px;
}

.sura-wrap .nuevo-wrap .estado .container .estado__card .estado__card-image img {
  display: block;
}

.sura-wrap .nuevo-wrap .estado .container .estado__card .estado__card-info {
  width: 100%;
  height: auto;
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  position: relative;
}

.sura-wrap .nuevo-wrap .estado .container .estado__card .estado__card-info h3 {
  font: 700 36px/39px "FS Joey", sans-serif !important;
  max-width: 320px;
  color: #0033a0;
  position: relative;
}

.sura-wrap .nuevo-wrap .estado .container .estado__card h3::before {
  content: "";
  width: 40px;
  border-radius: 24px;
  border-top: 4px solid #00aec7;
  position: absolute;
  top: -24px;
}

.sura-wrap .nuevo-wrap .interes {
  width: 100%;
  max-width: 1920px;
  background-color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 3rem;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap {
  width: 100%;
  max-width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__title {
  width: 80%;
  max-width: 340px;
  padding-top: 8rem;
  position: relative;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item {
  min-width: 250px;
  max-width: 300px;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 0px 18px 43px rgba(0, 37, 70, 0.159856);
          box-shadow: 0px 18px 43px rgba(0, 37, 70, 0.159856);
  background-color: #fff;
  margin: -3rem 1rem 3rem 1rem;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item .item-image {
  width: 100%;
  max-width: 300px;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item .item-image img {
  max-width: 300px;
  width: 100%;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item .item-title {
  min-height: 270px;
  max-height: 270px;
  padding: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item .item-title .item-arrow {
  width: 100%;
  height: 26px;
  display: block;
  overflow: hidden;
  position: relative;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item .item-title .item-arrow::before {
  content: url(/docs/default-source/landing-siniestros-2021/sura-icon-arrow-big-right.svg?sfvrsn=9c15066f_3);
  position: absolute;
  top: 2px;
  left: -32px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.sura-wrap .nuevo-wrap .interes .interes__wrap .interes__content .interes__item .item-title .item-arrow:hover::before {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

.sura-wrap .nuevo-wrap .interes .interes__title::before {
  content: "";
  position: absolute;
  background-image: url(/docs/default-source/landing-info-siniestros/circles.svg?sfvrsn=49b4c66c_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  bottom: 0px;
}

@media (min-width: 1200px) {
  .sura-wrap .nuevo-wrap .container-fluid {
    width: 1320px !important;
  }
}

@media (max-width: 1200px) {
  .sura-wrap .nuevo-wrap .interes__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sura-wrap .nuevo-wrap .interes__title {
    padding-top: 1rem !important;
    margin-bottom: 5rem;
  }
  .sura-wrap .nuevo-wrap .interes__title::before {
    top: 0px;
    left: -200px;
    height: 90px !important;
  }
}

@media (max-width: 950px) {
  .sura-wrap .nuevo-wrap .hero {
    margin-top: 5rem !important;
  }
  .sura-wrap .nuevo-wrap .hero h2 {
    font: normal 700 42px/46px "FS Joey", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap .hero h3 {
    font: normal 700 36px/40px "FS Joey", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap .denunciar-siniestro::before {
    width: 70px !important;
    top: 370px !important;
  }
  .sura-wrap .nuevo-wrap .denunciar-siniestro::after {
    width: 35px !important;
    top: 870px !important;
  }
  .sura-wrap .nuevo-wrap .declaracion-jurada .dj-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-texto {
    width: 90%;
  }
  .sura-wrap .nuevo-wrap .declaracion-jurada .dj-container .dj-card {
    position: relative;
    top: 0;
    bottom: 2rem;
  }
}

@media (max-width: 700px) {
  .sura-wrap .nuevo-wrap .container {
    min-width: 350px !important;
  }
  .sura-wrap .nuevo-wrap .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sura-wrap .nuevo-wrap .hero .hero-text {
    width: 100%;
    margin: 2rem 4rem 0 4rem;
    padding: 0 2rem;
    text-align: center;
  }
  .sura-wrap .nuevo-wrap .hero .hero-img {
    text-align: center;
  }
  .sura-wrap .nuevo-wrap .hero .hero-img img {
    width: 80%;
  }
  .sura-wrap .nuevo-wrap .hero h2 {
    font: normal 700 36px/46px "FS Joey", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap .hero h3 {
    font: normal 700 30px/34px "FS Joey", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap .bloque-siniestro .row .titulo-bloque h4 {
    font: normal 700 30px/34px "FS Joey", sans-serif !important;
    margin: 1rem !important;
  }
  .sura-wrap .nuevo-wrap .bloque-siniestro .row .titulo-bloque p {
    font: normal 400 16px/26px "Barlow", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap .bloque-siniestro .row .cards-bloque {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sura-wrap .nuevo-wrap .bloque-siniestro .row .cards-bloque .card {
    margin: 0 0 5rem 0 !important;
  }
  .sura-wrap .nuevo-wrap .bloque-siniestro .row .cards-bloque .card h5 {
    font: normal 700 22px/27px "Barlow", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap .legal-siniestro {
    padding-top: 0 !important;
  }
  .sura-wrap .nuevo-wrap .diagrama {
    width: 10% !important;
    background-color: #fff !important;
  }
  .sura-wrap .nuevo-wrap .diagrama .dibujo {
    margin-top: 1rem !important;
    width: 100% !important;
    height: 98% !important;
  }
  .sura-wrap .nuevo-wrap .quehacer-siniestro {
    width: 87% !important;
  }
  .sura-wrap .nuevo-wrap .quehacer-siniestro h4 {
    width: 100% !important;
  }
  .sura-wrap .nuevo-wrap .quehacer-siniestro .row {
    width: 100% !important;
  }
  .sura-wrap .nuevo-wrap .quehacer-siniestro::before {
    display: none;
  }
  .sura-wrap .nuevo-wrap .dibujo::before {
    display: none;
  }
  .sura-wrap .nuevo-wrap .bn {
    height: auto !important;
    padding: 10px 18px !important;
  }
  .sura-wrap .nuevo-wrap .bn::before {
    display: none;
  }
  .sura-wrap .nuevo-wrap .estado__card {
    max-width: 575px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sura-wrap .nuevo-wrap .estado__card .estado__card-info {
    margin-bottom: 32px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 !important;
  }
  .sura-wrap .nuevo-wrap .estado__card .estado__card-info h3 {
    max-width: 100% !important;
    margin-bottom: 1rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sura-wrap .nuevo-wrap .estado__card .estado__card-info p {
    margin-bottom: 1rem !important;
  }
  .sura-wrap .nuevo-wrap .container-fluid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sura-wrap .nuevo-wrap .interes__wrap {
    width: 100% !important;
  }
  .sura-wrap .nuevo-wrap .interes__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sura-wrap .nuevo-wrap .interes__title {
    width: 100%;
    text-align: center;
  }
  .sura-wrap .nuevo-wrap .interes__title::before {
    left: -150px !important;
    top: 200px;
  }
  .sura-wrap .nuevo-wrap .interes__item {
    margin: 1rem 1rem !important;
  }
  .sura-wrap .nuevo-wrap .dj-card {
    margin: 1rem;
    padding: 1rem !important;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .sura-wrap .nuevo-wrap .dj-container {
    margin: 0 !important;
  }
  .sura-wrap .nuevo-wrap .dj-card {
    min-width: 350px !important;
    position: relative;
    padding: 1rem !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    max-height: -webkit-max-content !important;
    max-height: -moz-max-content !important;
    max-height: max-content !important;
  }
  .sura-wrap .nuevo-wrap .dj-card-f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sura-wrap .nuevo-wrap .dj-card-simple {
    width: 100% !important;
    padding-bottom: 1rem !important;
  }
  .sura-wrap .nuevo-wrap .dj-card-simple:first-child {
    border-bottom: solid 1px #ecf0f1;
    border-right: none !important;
  }
}
/*# sourceMappingURL=main.css.map */