@charset "UTF-8";
.siniestro-diferencias, .siniestro-diferencias-call, .siniestro-diferencias-call__title, .siniestros-row, .siniestros-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: FS Joey;
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Bold.svg) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FS Joey;
  src: url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff2) format("woff2"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.woff) format("woff"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.eot) format("eot"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("svg"), url(https://seguros.sura.cl/App_Themes/MainNuevoPortal/assets/fonts/FSJoey-Medium.svg) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.mt-1-auto {
  margin: 1rem auto;
}

.mb-2 {
  margin-bottom: 2rem;
}

.w-100 {
  width: 100%;
}

.btn-desk {
  display: block;
}

.btn-mob {
  display: none;
}

@media (max-width: 768px) {
  .btn-desk {
    display: none;
  }
  .btn-mob {
    display: block;
  }
}

.card-2-columnas .container-card .texto-card .btn-border-blue, .btn-border-blue, .denunciar-siniestro .boton, .boton-amarillo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 12px 26px;
  border-radius: 100px;
  letter-spacing: 1px;
  font: normal 700 16px/19px "Barlow", sans-serif !important;
  text-align: center;
  text-decoration: none;
}

.card-2-columnas .container-card .texto-card .btn-border-blue:hover, .btn-border-blue:hover, .denunciar-siniestro .boton:hover, .boton-amarillo:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .card-2-columnas .container-card .texto-card .btn-border-blue, .btn-border-blue, .denunciar-siniestro .boton, .boton-amarillo {
    font-size: 16px;
    padding: 12px 16px;
  }
}

.denunciar-siniestro .boton:before, .boton-amarillo:before {
  content: '';
  position: absolute;
  background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-yapp/icon-arrow.svg?sfvrsn=8d55326d_2) no-repeat center center;
  background-size: 24px;
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .denunciar-siniestro .boton:before, .boton-amarillo:before {
    background-size: 18px;
    width: 18px;
    height: 20px;
  }
}

.card-2-columnas .container-card .texto-card .btn-border-blue, .btn-border-blue {
  color: #0033A0;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #0033A0;
}

.card-2-columnas .container-card .texto-card .btn-border-blue:hover, .btn-border-blue:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #d3e1ff;
}

.denunciar-siniestro .boton {
  color: #0033A0;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #0033A0;
  padding-left: 3rem;
}

.denunciar-siniestro .boton:before {
  left: 1rem;
}

.denunciar-siniestro .boton:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #d3e1ff;
}

.boton-amarillo {
  color: #0033A0;
  background-color: #E3E829;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 3rem;
}

.boton-amarillo:before {
  left: 1rem;
}

.boton-amarillo:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #0033A0;
  color: #FFF;
}

.boton-amarillo:hover::before {
  -webkit-filter: invert(100%) sepia(100%) saturate(94%) hue-rotate(165deg) brightness(110%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(94%) hue-rotate(165deg) brightness(110%) contrast(100%);
}

.siniestro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.siniestro-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
  padding: 2rem 0;
}

.siniestro-banner-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.siniestro-banner-cta__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 60px !important;
  line-height: 1 !important;
  font-family: "FS Joey", sans-serif !important;
  color: #0033A0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.siniestro-banner-cta__title .sura-wrap h1, .siniestro-banner-cta__title .sura-wrap .h1,
.siniestro-banner-cta__title h1 {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 60px !important;
  line-height: 1 !important;
  font-family: "FS Joey", sans-serif !important;
}

.siniestro-banner-cta__title span {
  color: #00AEC7 !important;
  font-size: 48px;
}

.siniestro-banner-cta__desc {
  font: normal 400 18px/1.4 'Barlow', sans-serif !important;
  color: #535865 !important;
  text-align: left;
  margin-bottom: 2rem;
  max-width: 310px;
}

.siniestro-banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.siniestro-banner-image img {
  width: 100%;
  max-width: 450px;
}

@media (max-width: 991px) {
  .siniestro-banner {
    margin: 0 auto;
  }
  .siniestro-banner-cta__title {
    font-size: 36px !important;
  }
  .siniestro-banner-cta__title span {
    font-size: 26px !important;
  }
  .siniestro-banner-image {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .siniestro-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .siniestro-banner-cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .siniestro-banner-cta__title, .siniestro-banner-cta__desc {
    text-align: center;
  }
  .siniestro-banner-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.siniestro-diferencias {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  position: relative;
  margin: 3rem auto;
}

.siniestro-diferencias::before, .siniestro-diferencias::after {
  content: '';
  position: absolute;
  background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-yapp/icon-circle-cyan.svg?sfvrsn=d255326d_2) no-repeat center center;
  background-size: contain;
  width: 120px;
  height: 120px;
  top: 0;
  opacity: 0.6;
}

.siniestro-diferencias::before {
  left: 0;
}

.siniestro-diferencias::after {
  right: 0;
}

.siniestro-diferencias-call {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.siniestro-diferencias-call__title {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 520px;
  color: #0033A0;
  font: normal 700 42px/1 "FS Joey", serif !important;
  text-align: center;
}

.siniestro-diferencias-call__desc {
  display: block;
  width: 90%;
  max-width: 768px;
  color: #53565A;
  font: normal 400 18px/26px "Barlow", sans-serif !important;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 850px) {
  .siniestro-diferencias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .siniestro-diferencias-call {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .siniestro-diferencias-call__title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .siniestro-diferencias-call__desc {
    text-align: center;
  }
  .siniestro-diferencias-img {
    max-width: 575px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 575px) {
  .siniestro-diferencias-call__title {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .siniestro-diferencias-call__desc {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

/* ESTILOS GENERALES */
.sura-wrap .nuevo-wrap {
  /* TEXT */
}

.sura-wrap .nuevo-wrap h1 {
  font: 700 60px "FS Joey", sans-serif !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sura-wrap .nuevo-wrap h2 {
  font: 700 36px "FS Joey", sans-serif !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sura-wrap .nuevo-wrap h3 {
  font: 700 36px "FS Joey", sans-serif !important;
}

.sura-wrap .nuevo-wrap h4 {
  font: 700 28px "FS Joey", sans-serif !important;
}

.sura-wrap .nuevo-wrap h5 {
  font: 400 22px "Barlow", sans-serif !important;
}

.sura-wrap .nuevo-wrap h6 {
  font: 700 18px "Barlow", sans-serif !important;
}

.sura-wrap .nuevo-wrap p {
  font: 400 16px "Barlow", sans-serif !important;
}

.sura-wrap .nuevo-wrap p.bg {
  font: 400 18px "Barlow", sans-serif !important;
}

.sura-wrap .nuevo-wrap p.sm {
  font: 400 14px "Barlow", sans-serif !important;
}

@media (max-width: 575px) {
  .sura-wrap .nuevo-wrap h1 {
    font: 700 42px "FS Joey", sans-serif !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sura-wrap .nuevo-wrap h2 {
    font: 700 28px "FS Joey", sans-serif !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sura-wrap .nuevo-wrap h3 {
    font: 700 28px "FS Joey", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap h4 {
    font: 700 22px "FS Joey", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap h5 {
    font: 400 18px "Barlow", sans-serif !important;
  }
  .sura-wrap .nuevo-wrap h6 {
    font: 700 16px "Barlow", sans-serif !important;
  }
}

body p {
  font-size: 18px;
}

.siniestros {
  width: 100%;
  height: 100%;
}

.siniestros .container-fluid {
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .siniestros .container-fluid {
    padding: 0 0.5rem;
  }
}

.siniestros-row {
  gap: 2rem;
}

.siniestros-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.siniestros .container {
  width: 100%;
  max-width: 1199px;
  padding: 0;
  margin: auto;
}

@media (max-width: 1199px) {
  .siniestros .container {
    padding: 0 1rem;
  }
}

@media (max-width: 575px) {
  .siniestros .container {
    padding: 0 0.5rem;
  }
}

.siniestros .bg-banner {
  background: #00aec7;
  background: linear-gradient(250deg, #00aec7 0%, #0033a0 44%);
}

.siniestros .bg-light {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFF), color-stop(25%, #FFF), color-stop(25%, #ECF0F1), to(#ECF0F1));
  background: linear-gradient(to top, #FFF 0, #FFF 25%, #ECF0F1 25%, #ECF0F1 100%);
}

.siniestros .bg-light-invert {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(65%, #FFF), color-stop(65%, #ECF0F1), to(#ECF0F1));
  background: linear-gradient(to bottom, #FFF 0, #FFF 65%, #ECF0F1 65%, #ECF0F1 100%);
}

@media (max-width: 950px) {
  .yapp {
    padding-top: 104px;
  }
  .nuevo-wrap {
    margin-top: 104px;
  }
}

.cotizador-online {
  display: none !important;
}

.denunciar-siniestro {
  width: 100%;
  text-align: center;
  background-color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.denunciar-siniestro .bloque-siniestro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1199px;
}

.denunciar-siniestro .row {
  width: 100%;
  max-width: 1199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.denunciar-siniestro .row .titulo-bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 950px;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.denunciar-siniestro .row .titulo-bloque::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00AEC7;
  top: 50px;
  border-radius: 16px;
}

.denunciar-siniestro .row .cards-bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.denunciar-siniestro .row .cards-bloque .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  max-width: 483px;
  padding: 2rem;
  margin-bottom: -4rem;
  z-index: 1;
  margin-left: 2rem;
}

.denunciar-siniestro .row .cards-bloque .card .icono-card {
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  background-color: #fff;
  border-radius: 50%;
  margin-top: -5rem;
  width: 120px;
  height: 100px;
  padding-top: 15px;
}

.denunciar-siniestro .row .cards-bloque .card h5 {
  color: #0033a0;
  font: normal 700 28px/33.6px "Barlow", sans-serif !important;
  margin: 1rem;
}

.denunciar-siniestro .row .cards-bloque .card p {
  color: #53565a;
  font: normal 400 16px/26px "Barlow", sans-serif !important;
  margin: 1rem;
  text-align: left;
}

.denunciar-siniestro .lista-check-azul {
  width: 100%;
  margin-bottom: 25px;
}

.denunciar-siniestro .lista-check-azul ul {
  margin: 16px auto;
  padding-left: 15px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.denunciar-siniestro .lista-check-azul ul li {
  color: #53565a;
  text-align: left;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  padding-bottom: 12px;
  padding-left: 30px;
  background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/check-azul.svg?sfvrsn=8c2f6e6d_3);
  background-position: 0px -2px;
  background-size: 1.15rem 1.5rem;
  background-repeat: no-repeat;
}

.denunciar-siniestro .boton {
  position: relative;
}

.denunciar-siniestro .legal-siniestro {
  padding-top: 6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.denunciar-siniestro .legal-siniestro .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 1.5rem;
  max-width: 970px;
  background: rgba(0, 174, 199, 0.5);
  padding: 1rem 2rem;
}

.denunciar-siniestro .legal-siniestro .row .icono-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: auto;
}

.denunciar-siniestro .legal-siniestro .row .icono-legal img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80%;
  margin-right: 1rem;
}

.denunciar-siniestro .legal-siniestro .row .info-legal {
  width: 90%;
  text-align: left;
  color: #0033a0;
  background: rgba(0, 174, 199, 0);
}

.denunciar-siniestro::before {
  content: "";
  position: absolute;
  background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  top: 100px;
  left: 0;
}

.denunciar-siniestro::after {
  content: "";
  position: absolute;
  background-image: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  top: 50px;
  right: 15px;
}

@media (max-width: 732px) {
  .denunciar-siniestro::before {
    display: none;
  }
  .denunciar-siniestro::after {
    display: none;
  }
  .cards-bloque {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .cards-bloque .card {
    margin: 0 0 5rem 0 !important;
  }
  .cards-bloque .card h5 {
    font: normal 700 22px/27px "Barlow", sans-serif !important;
  }
}

.ayuda-siniestros {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.ayuda-siniestros .container-ayuda {
  width: 100%;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ayuda-siniestros .container-ayuda .titulo-bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 950px;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.ayuda-siniestros .container-ayuda .titulo-bloque::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00AEC7;
  top: 50px;
  border-radius: 16px;
}

.title-tabla-todas-coberturas a.desplegar-todas-coberturas,
.detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todas-coberturas {
  width: 95%;
  max-width: 1099px;
  padding: 28px 28px;
  -webkit-box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
          box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
  border-radius: 8px;
  margin: 0 auto 20px;
}

.todas-coberturas-coberturas {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.title-tabla-todas-coberturas a.desplegar-todas-coberturas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  font: normal 700 22px/1.3 "Barlow", sans-serif !important;
  color: #0033a0;
}

.desplegar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.desplegar img {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .title-tabla-todas-coberturas a.desplegar-todas-coberturas {
    font-size: 18px !important;
  }
}

.title-tabla-todas-coberturas a.desplegar-todas-coberturas .arrow-todas-coberturas {
  content: url(/docs/default-source/landing-pyme-2022/path.svg?sfvrsn=d42d946c_3);
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrow-close {
  content: url(/docs/default-source/landing-pyme-2022/path.svg?sfvrsn=d42d946c_3);
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.close {
  display: none;
}

.open {
  display: block;
}

.paso-a-paso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  margin-top: 40px;
}

.paso-a-paso .container-paso-a-paso {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-left: 50px;
}

.paso-a-paso .container-paso-a-paso .icono-paso-a-paso {
  width: 100%;
  max-width: 80px;
  position: relative;
}

.paso-a-paso .container-paso-a-paso .icono-paso-a-paso img {
  width: 100%;
  max-width: 72px;
  z-index: 1;
  position: absolute;
  top: -5px;
  left: 5px;
}

.paso-a-paso .container-paso-a-paso .icono-paso-a-paso p {
  opacity: 0;
}

.paso-a-paso .container-paso-a-paso .icono-paso-a-paso::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: #0033a0;
  bottom: -60px;
  left: 40px;
  z-index: -1;
}

.paso-a-paso .container-paso-a-paso .last::before {
  display: none;
}

.paso-a-paso .container-paso-a-paso .desc-paso-a-paso {
  text-align: left;
}

.paso-a-paso .container-paso-a-paso .desc-paso-a-paso p {
  font: normal 400 18px/1.3 "Barlow", sans-serif !important;
  color: #53565A;
}

.boton-amarillo {
  position: relative;
}

@-webkit-keyframes myFirstAnimation {
  /* fotograma inicial (from ó 0%) */
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  /* fotograma final (to ó 100%) */
  100% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    opacity: 1;
  }
}

@keyframes myFirstAnimation {
  /* fotograma inicial (from ó 0%) */
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  /* fotograma final (to ó 100%) */
  100% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    opacity: 1;
  }
}

.animate_div {
  -webkit-animation-name: myFirstAnimation !important;
          animation-name: myFirstAnimation !important;
  -webkit-animation-duration: 1s !important;
          animation-duration: 1s !important;
  -webkit-animation-timing-function: ease-out !important;
          animation-timing-function: ease-out !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}

.contenido-todas-coberturas {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .ayuda-siniestros {
    padding-top: 0px;
  }
  .todas-coberturas {
    width: 90%;
  }
  .desc-paso-a-paso {
    margin-right: 25px;
  }
  .paso-a-paso .container-paso-a-paso {
    padding-left: 5px;
  }
  .paso-a-paso .container-paso-a-paso .icono-paso-a-paso::before {
    height: 90px;
    bottom: -100px;
  }
}

@media (max-width: 473px) {
  .cards-bloque {
    margin-bottom: 0px;
  }
  .siniestro-diferencias-call__desc {
    margin-bottom: 25px;
  }
  .paso-a-paso {
    margin-top: 0px;
  }
  .paso-a-paso .container-paso-a-paso {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0px;
    margin-bottom: 25px;
  }
  .paso-a-paso .container-paso-a-paso .icono-paso-a-paso::before {
    display: none;
  }
  .contenido-todas-coberturas {
    padding-bottom: 50px;
    position: relative;
  }
  .contenido-todas-coberturas .boton-amarillo {
    letter-spacing: normal;
    max-width: 200px;
    margin-left: 0px;
    padding-left: 25px;
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  .contenido-todas-coberturas .boton-amarillo::before {
    background-position: 0px 11px;
    background-size: auto;
    width: 25px;
    height: 25px;
  }
}

.como-funciona-deducible {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.card-2-columnas {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #FFF;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  border-radius: 8px;
  padding: 50px;
}

.card-2-columnas .container-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-2-columnas .container-card .texto-card {
  max-width: 60%;
  position: relative;
}

.card-2-columnas .container-card .texto-card .titulo-card {
  font: normal 700 36px/39.6px "FS Joey", sans-serif !important;
  color: #0033A0;
  margin-bottom: 50px;
  margin-bottom: 20px;
}

.card-2-columnas .container-card .texto-card .titulo-card::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00AEC7;
  top: 0px;
  left: 3%;
  border-radius: 16px;
}

.card-2-columnas .container-card .texto-card .parrafo-card {
  font: normal 400 18px/22px "Barlow", sans-serif !important;
  color: #53565A;
  margin-bottom: 50px;
}

.card-2-columnas .container-card .imagen-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .card-2-columnas .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-2-columnas .container-card .texto-card {
    width: 100%;
    max-width: 100%;
    font-size: 32px;
    text-align: center;
  }
  .card-2-columnas .container-card .texto-card .titulo-card {
    font-size: 32px;
  }
  .card-2-columnas .container-card .texto-card .parrafo-card {
    font-size: 16px;
  }
  .card-2-columnas .container-card .imagen-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.estado-denuncia {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.card-2-columnas {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #FFF;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  border-radius: 8px;
  padding: 50px;
}

.card-2-columnas .container-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-2-columnas .container-card .texto-card {
  max-width: 50%;
  position: relative;
}

.card-2-columnas .container-card .texto-card .titulo-card {
  font: normal 700 36px/39.6px "FS Joey", sans-serif !important;
  color: #0033A0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card-2-columnas .container-card .texto-card .titulo-card::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #00AEC7;
  top: 0px;
  left: 0;
  border-radius: 16px;
}

.card-2-columnas .container-card .texto-card .parrafo-card {
  font: normal 400 18px/22px "Barlow", sans-serif !important;
  color: #53565A;
  margin-bottom: 50px;
}

.card-2-columnas .container-card .imagen-card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .card-2-columnas .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-2-columnas .container-card .texto-card {
    width: 100%;
    max-width: 100%;
  }
  .card-2-columnas .container-card .texto-card .titulo-card {
    font-size: 32px;
  }
  .card-2-columnas .container-card .texto-card .parrafo-card {
    font-size: 16px;
  }
  .card-2-columnas .container-card .imagen-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.detalle-slider-item__desc,
.detalle-slider-item,
.detalle-slider,
.detalle-link,
.detalle-nav-list__item a.active,
.detalle-nav-list__item a,
.detalle-nav-list,
.coberturas-card__img,
.coberturas-card,
.coberturas-box-slider,
.nocubre-box,
.rrss,
.detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detalle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 50px;
  background-color: #ecf0f1;
  padding: 50px 0;
  position: relative;
}

.detalle::before {
  content: "";
  position: absolute;
  background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
  background-size: 100%;
  width: 80px;
  height: 96px;
  left: 13%;
  top: 10px;
  opacity: 0.6;
}

.detalle::after {
  content: "";
  position: absolute;
  background: url(https://cdnsegurossuraprd.azureedge.net/sitefinity/docs/default-source/landing-pyme-2022/circlesx3.svg?sfvrsn=204a6f6d_3);
  background-size: 100%;
  width: 80px;
  height: 96px;
  right: 13%;
  top: 10px;
  opacity: 0.6;
}

@media (max-width: 575px) {
  .detalle::before,
  .detalle::after {
    width: 70px;
    height: 70px;
    top: 10px;
    opacity: 0.6;
  }
  .detalle::after {
    right: 5px;
  }
  .detalle:before {
    left: 5px;
  }
}

.detalle h2 {
  font-family: "FS Joey", serif;
  font-weight: 700;
  font-size: 36px !important;
  text-align: center;
  color: #0033a0;
  margin: 0;
  position: relative;
}

.detalle-nav {
  width: 100%;
  height: 93px;
  margin: 32px auto 0;
  max-width: 1199px;
  -webkit-box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
  box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
}

.detalle-nav ul {
  list-style: none;
}

.detalle-nav-list__item a {
  color: #53565a;
}

.detalle-nav-list__item a.active {
  color: #0033a0;
}

.detalle-nav-list {
  width: 100%;
  padding: 0;
  position: relative;
  height: 100px;
}

.detalle-nav-list__item {
  width: 100%;
  height: 100px;
  line-height: 90px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.detalle-nav-list__item a {
  color: #53565a;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.detalle-nav-list__item a img {
  width: 32px;
  margin-right: 10px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.detalle-nav-list__item a:after {
  content: "";
  position: absolute;
  height: 74px;
  right: -1px;
  border-left: 3px solid #dedede;
  border-radius: 50%;
  z-index: -1;
}

.detalle-nav-list__item a.active {
  background-color: #fff;
  color: #0033a0;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px 3px 0 0;
}

.detalle-nav-list__item a.active img {
  -webkit-filter: none;
          filter: none;
}

.detalle-nav-list__item a.active:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  bottom: 0;
  background: #00aec7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 575px) {
  .detalle h2 {
    font-size: 36px !important;
    line-height: 1;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .detalle {
    padding: 45px 15px;
  }
  .detalle .detalle-nav-list__item a {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .detalle .detalle-nav-list__item a {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .detalle .detalle-nav-list__item a.active,
  .detalle .detalle-nav-list__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 18px;
    width: 100%;
    height: 90px;
  }
}

@media screen and (max-width: 850px) {
  .detalle {
    padding: 45px 15px;
  }
  .detalle .detalle-nav-list__item {
    line-height: 1;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .detalle .detalle-nav-list__item a img {
    margin: 0 auto;
    padding: 10px 0;
    max-height: 65px;
  }
}

@media screen and (max-width: 768px) {
  .detalle {
    padding: 45px 15px;
  }
  .detalle .detalle-nav-list__item {
    line-height: 1;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .detalle .detalle-nav-list__item a img {
    margin: 0 auto;
    padding: 10px 0;
    max-height: 65px;
  }
}

@media screen and (max-width: 575px) {
  .detalle .detalle-nav {
    height: 77px;
  }
  .detalle .detalle-nav .detalle-nav-list {
    height: 81px;
  }
  .detalle .detalle-nav-list__item {
    line-height: 16px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .detalle .detalle-nav-list__item a.active,
  .detalle .detalle-nav-list__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    width: 100%;
    height: 74px;
    padding: 10px 3px;
  }
  .detalle .detalle-nav-list__item a.active:before,
  .detalle .detalle-nav-list__item a:before {
    height: 2px;
  }
  .detalle .detalle-nav-list__item a.active:after,
  .detalle .detalle-nav-list__item a:after {
    height: 60px;
  }
  .detalle .detalle-nav-list__item a img {
    margin: 0 auto;
    padding: 0 0 5px;
    max-height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .detalle .detalle-nav-list__item {
    height: 80px;
  }
  .detalle .detalle-nav-list__item a.active,
  .detalle .detalle-nav-list__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    width: 100%;
    height: 75px;
    padding: 10px 3px;
  }
  .detalle .detalle-nav-list__item a.active:after,
  .detalle .detalle-nav-list__item a:after {
    height: 60px;
  }
}

.detalle section {
  width: 100%;
  background: #fff;
  max-width: 1199px;
  margin-top: -3px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
  box-shadow: 0 15px 51px 0 rgba(0, 45, 84, 0.13);
}

@media screen and (max-width: 575px) {
  .detalle section {
    padding-bottom: 0;
  }
}

.detalle section > div {
  width: 100%;
  margin: 0 auto;
  display: none;
  padding-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .detalle section > div {
    padding-bottom: 40px;
  }
}

.detalle section > div.active {
  display: block;
}

.detalle div.content h2 {
  margin: 10px 0 40px 20%;
}

.container-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.coberturas-box {
  padding: 50px 25px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coberturas-box-slider {
  width: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}

.coberturas-box-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 209px;
  height: 100%;
  margin: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.coberturas-card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 360px;
  height: 200px;
}

.coberturas-card b {
  margin-top: 10px;
  font: normal 400 18px/22px "Barlow", sans-serif !important;
  color: #0033a0;
}

.coberturas-box-slider-item:nth-child(1) img {
  margin-top: 10px;
}

.asistencia-card {
  max-width: 320px;
}

.coberturas-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.coberturas-card__img {
  width: 40%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.coberturas-card__img img {
  width: 80%;
  max-width: 120px;
  margin: 5px 0 0 0;
  position: relative;
}

.coberturas-card__img::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #ECF0F1;
  border-radius: 50%;
}

.coberturas-card h4 {
  font: normal 700 18px/1.3 "Barlow", sans-serif !important;
  color: #0033a0;
  text-align: center;
  margin: 0;
}

.coberturas-card span {
  width: 40px;
  border: 2px solid #00aec7;
  background-color: #00aec7;
  border-radius: 8px;
  margin: 16px auto;
}

@media (max-width: 768px) {
  .coberturas-card__img img {
    max-width: 100px;
  }
}

.como-solicitar-asistencia {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.como-solicitar-asistencia .container-solicitar-asistencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

.como-solicitar-asistencia .container-solicitar-asistencia .cards-solicitar-asistencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1150px;
  padding: 20px;
  gap: 10px;
}

.card-asistencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
          box-shadow: 0px 15px 51px rgba(0, 45, 84, 0.13);
  margin-bottom: 20px;
  width: 250px;
  height: 295px;
  padding: 20px 10px;
  gap: 10px;
  border-radius: 8px;
}

.card-asistencia .card__img {
  width: 40%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.card-asistencia h4 {
  color: #0033a0;
  font: normal 700 22px/26.4px "Barlow", sans-serif !important;
  margin: 0;
  text-align: center;
}

.card-asistencia h5 {
  color: #00AEC7;
  font: normal 700 18px/21.6px "Barlow", sans-serif !important;
  margin: 0;
}

.card-asistencia .card__txt {
  font: normal 400 13px/15.6px "Barlow", sans-serif !important;
  color: #53565A;
  margin: 0px;
}

.card-asistencia .card__img img {
  width: 100%;
  max-width: 75px;
  margin: 5px 0 0 0;
  position: relative;
}

.card-asistencia span {
  width: 40px;
  border: 2px solid #00aec7;
  background-color: #00aec7;
  border-radius: 8px;
  margin: 8px auto;
}

.solicitar-asistencia-title {
  padding: 25px;
  position: relative;
}

.solicitar-asistencia-title h2 {
  font-family: "FS Joey", serif;
  font-weight: 700;
  font-size: 36px !important;
  text-align: center;
  color: #0033a0;
  margin: 0;
  position: relative;
}

.solicitar-asistencia-title:before {
  content: "";
  position: absolute;
  width: 40px;
  border: 2px solid #00aec7;
  background-color: #00aec7;
  border-radius: 8px;
  top: 10px;
  left: 45%;
}

.preguntas-frecuentes {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.preguntas-frecuentes .container-preguntas-frecuentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

.container-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1230px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.faq {
  min-height: 350px;
}

.faq-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1230px;
  position: relative;
}

.faq-box-title h3 {
  font: normal 700 28px/30.8px "FS Joey", serif !important;
  color: #0033a0;
  text-align: center;
  margin: 1rem;
}

.faq-box-desc {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1000px;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #ecf0f1;
}

.faq-box-desc:nth-last-child(1) {
  border-bottom: none;
}

.faq-box-desc p,
.faq-box-desc p strong {
  font: normal 400 18px/1.3 "Barlow", sans-serif !important;
  color: #53565a;
  text-align: left;
  margin-bottom: 1rem;
}

.faq-box-desc p strong {
  font-weight: 700;
  margin-bottom: 1rem;
}

.faq-box-link {
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 1920px;
  position: relative;
  padding: 2rem;
}

.faq-box-link img {
  width: 1rem;
  margin-right: 0.5rem;
}

.faq-box-link a.bn-no {
  font: normal 700 18px/1.3 "Barlow", sans-serif !important;
  color: #00aec7;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .faq {
    margin: 2rem auto 0;
  }
  .faq-box-desc {
    padding: 0.5rem 0;
  }
  .faq-box-desc p,
  .faq-box-desc p strong {
    font-size: 16px !important;
  }
  .faq-box-link {
    padding: 2rem 0 0;
  }
  .faq-box-link a.bn-no {
    font-size: 14px !important;
  }
}

.first {
  margin-top: 25px;
}

@media (max-width: 473px) {
  .tabs-down {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=main.css.map */