$blue: #0033a0;
$cyan: #00aec7;
$yellow: #e3e829;
$white: #fff;
$gray: #53565a;
$light-gray: #ecf0f1;
$red: #E4002B;
$shadow: 0px 2px 30px #e0e5f0;
$transition: all 0.3s ease;
$Fuente1: "FS Joey", sans-serif;
$Fuente2: "Barlow", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

#preheader,
.sura-wrap header,
footer {
   display: none !important;
}

// *{
//    box-sizing: border-box;
//    border: solid 1px red;
// }
